
#ShippingStatusModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:import, url: "/shippings/#{@import.id}/update", html: { class: 'form-horizontal', id: "shipping_date_form"}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Update Shipping Status
        .modal-body
          .form-group
            .col-md-4
              = label_tag 'Original BL Received', nil, class: "form-check-label"
            .col-md-2.pad1
              %input{:type => "checkbox", :checked => @import.bl_received_at.present?, 
                :class => "shipping_checkbox form-check-input", "data-column" => "bl_received_at",
                "data-eta" => "eta"}
            .col-md-4
              %input{:type => "text", :name => "import[bl_received_at]", :class => "form-control #{@import.bl_received_at.present? ? "" : "hidden"} bl_received_at",
                :value => @import.bl_received_at.present? ? @import.bl_received_at.to_formatted_s : Date.today.to_formatted_s}
          .form-group
            .col-md-4
              = label_tag 'Charges Received', nil, class: "form-check-label"
            .col-md-2.pad1
              %input{:type => "checkbox", :checked => @import.charges_received_at.present?, 
                :class => "shipping_checkbox form-check-input", "data-column" => "charges_received_at"}
            .col-md-4
              %input{:type => "text", :name => "import[charges_received_at]", :class => "form-control #{@import.charges_received_at.present? ? "" : "hidden"} charges_received_at",
                :value => @import.charges_received_at.present? ? @import.charges_received_at.to_formatted_s : Date.today.to_formatted_s}
          .form-group
            .col-md-4
              = label_tag 'Charges Paid', nil, class: "form-check-label"
            .col-md-2.pad1
              %input{:type => "checkbox", :checked => @import.charges_paid_at.present?, 
                :class => "shipping_checkbox form-check-input", "data-column" => "charges_paid_at"}
            .col-md-4
              %input{:type => "text", :name => "import[charges_paid_at]", :class => "form-control #{@import.charges_paid_at.present? ? "" : "hidden"} charges_paid_at",
                :value => @import.charges_paid_at.present? ? @import.charges_paid_at.to_formatted_s : Date.today.to_formatted_s}
          .form-group
            .col-md-4
              = label_tag 'Delivery Order Received', nil, class: "form-check-label"
            .col-md-2.pad1
              %input{:type => "checkbox", :checked => @import.do_received_at.present?, 
                :class => "shipping_checkbox form-check-input", "data-column" => "do_received_at"}
            .col-md-4
              %input{:type => "text", :name => "import[do_received_at]", :class => "form-control #{@import.do_received_at.present? ? "" : "hidden"} do_received_at",
                :value => @import.do_received_at.present? ? @import.do_received_at.to_date.to_formatted_s : Date.today.to_formatted_s}
          .form-group.do-extra_field
            %hr
            .col-md-4
              = label_tag 'Container Return Location', nil, class: "form-check-label"
            .col-md-4
              %input{:type => "text", :name => "import[return_location]",
                :class => "form-control return_location",
                :value => @import.return_location}
          .form-group.do-extra_field
            .col-md-4
              = label_tag 'GF Return Date', nil, class: "form-check-label"
            .col-md-4
              %input{:type => "text", :name => "import[gf_return_date]",
                :class => "form-control gf_return_date",
                :value => @import.gf_return_date.present? ? @import.gf_return_date.to_formatted_s : Date.today.to_formatted_s}
          =f.hidden_field :late_submission, :value => false
        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

:coffeescript
  server_do_date_present = #{@import.do_received_at.present?}
  server_bl_date_present = #{@import.bl_received_at.present?}
  server_charges_paid_date_present = #{@import.charges_paid_at.present?}
  server_charges_rec_date_present = #{@import.charges_received_at.present?}

  $('#ShippingStatusModal').on 'shown.bs.modal', (event) ->
    bl_date = new Date("#{@import.bl_received_at.present? ? @import.bl_received_at.to_date.try(:to_formatted_s) : Date.today.to_date.to_formatted_s}")
    cr_date = new Date("#{@import.charges_received_at.present? ? @import.charges_received_at.to_date.to_formatted_s : Date.today.to_date.to_formatted_s }")
    cp_date = new Date("#{@import.charges_paid_at.present? ? @import.charges_paid_at.to_date.to_formatted_s : Date.today.to_date.to_formatted_s }")
    do_date = new Date("#{@import.do_received_at.present? ? @import.do_received_at.to_date.to_formatted_s : Date.today.to_date.to_formatted_s }")
    initDatePicker(bl_date, "bl_received_at")
    initDatePicker(cr_date, "charges_received_at")
    initDatePicker(cp_date, "charges_paid_at")
    initDatePicker(do_date, "do_received_at")
    initGFDatePicker()
    validateDateChronology()
    if "#{@import.do_received_at.present?}" == "true"
      $(".do-extra_field").show()
      initGFDatePicker()
    else
      $(".do-extra_field").hide()

  $('#statusModal').on 'hide.bs.modal', (event) ->
    $("#imports_table tr td.updateStatus .updateStatus").show()

  $('.shipping_checkbox').on 'change', (event) ->
    columnName = event.target.getAttribute("data-column")
    checked = event.target.checked
    if checked
      $("."+columnName).show().removeClass("hidden").val(todayDate)
      if columnName == "do_received_at"
        $(".do-extra_field").show()
        initGFDatePicker()
        $(".do_received_at").val(todayDate)
    else
      $("."+columnName).hide().val("")
      if columnName == "do_received_at"
        $(".do-extra_field").hide()
        $(".gf_return_date, .return_location").val("")
    validateDateChronology()

  initGFDatePicker = (date) ->
    $(".gf_return_date").datepicker({
      format: "yyyy/mm/dd",
      startDate: '-1y',
      defaultViewDate: new Date(),
      autoclose: true,
    })

  initDatePicker =(date, columnName) ->
    $("."+columnName).datepicker({
      format: "yyyy/mm/dd",
      startDate: '-1y',
      defaultViewDate: date,
      endDate: new Date(),
      autoclose: true,
    }).on 'changeDate', (event) ->
      validateDateChronology()
      if event.currentTarget.className.includes("bl_received_at") && event.date > new Date("#{@import.estimate_arrival.try(:to_formatted_s)}")
        confirmAns = confirm("Is this late submission of Document?")
        if confirmAns
          $("#import_late_submission").val(true)
        else
          $("#import_late_submission").val(false)
      else
        $("#import_late_submission").val(false)

  $("#shipping_date_form").on 'submit', (event) ->
    validateDOReceived()

  todayDate = () ->
    today = new Date()
    dd = today.getDate()
    mm = today.getMonth() + 1
    yyyy = today.getFullYear()
    return yyyy+"/"+mm+"/"+dd

  validateDOReceived = () ->
    return_value = true
    if $('*[data-column="do_received_at"]').is(":checked") && !$('*[data-column="do_received_at"]').prop("disabled")
      if $(".do_received_at").val() == ""
        $('.do_received_at').siblings(".field-error").remove()
        $("<label class='field-error text-danger'>Should not be empty</label>").insertAfter('.do_received_at')
        return_value = false
      else
        $('.do_received_at').siblings(".field-error").remove()

      if $(".return_location").val() == ""
        $('.return_location').siblings(".field-error").remove()
        $("<label class='field-error text-danger'>Should not be empty</label>").insertAfter('.return_location')
        return_value = false
      else
        $('.return_location').siblings(".field-error").remove()
      
      if $(".gf_return_date").val() == ""
        $('.gf_return_date').siblings(".field-error").remove()
        $("<label class='field-error text-danger'>Should not be empty</label>").insertAfter('.gf_return_date')
        return_value = false
      else
        $('.gf_return_date').siblings(".field-error").remove()

      return return_value

  validateDateChronology = () ->
    if $('*[data-column="bl_received_at"]').is(":checked") && $(".bl_received_at").val() != ""
      $('*[data-column="charges_received_at"]').removeAttr("disabled")
      $(".charges_received_at").removeAttr("disabled")
      $(".bl_received_at").show().removeClass("hidden")
    else
      $('*[data-column="charges_received_at"]').attr("disabled", "disabled")
      $(".charges_received_at").attr("disabled", "disabled")
      $(".charges_received_at, .charges_paid_at, .do_received_at").val("")
      $(".charges_received_at, .charges_paid_at, .do_received_at").hide()
      $('*[data-column="charges_received_at"], *[data-column="charges_paid_at"], *[data-column="do_received_at"]').prop("checked", false);

    if $('*[data-column="charges_received_at"]').is(":checked") && $(".charges_received_at").val() != ""
      $('*[data-column="charges_paid_at"]').removeAttr("disabled")
      $(".charges_paid_at").removeAttr("disabled")
    else
      $('*[data-column="charges_paid_at"]').attr("disabled", "disabled")
      $(".charges_paid_at, .do_received_at").val("")
      $(".charges_received_at, .charges_paid_at, .do_received_at").hide()
      $('*[data-column="charges_paid_at"], *[data-column="do_received_at"]').prop("checked", false);      

    if $('*[data-column="charges_paid_at"]').is(":checked") && $(".charges_paid_at").val() != ""
      $('*[data-column="do_received_at"]').removeAttr("disabled")
      $(".do_received_at").removeAttr("disabled")
    else
      $('*[data-column="do_received_at"]').attr("disabled", "disabled")
      $(".do_received_at").attr("disabled", "disabled")
      $(".do_received_at").val("")
      $(".gf_return_date, .return_location").val("")
      $(".do-extra_field").hide()

