%table.table{id: 'movements_table'}
  %thead
    %th Booking Number
    %th Customer Name
    %th Truck Number
    %th Transporter Name
    %th Vessel Targeted
    %th Port of Discharge
    %th Container Number
    %th Movement Type
    %th Shipping Seal
    %th W O Number
    %th#btnAddNewRow Status
    %th Remarks
  %tbody
    - @movements.each do |element|
      - updated_at = status_updated_at(element).localtime
      %tr{id: element.id, class: ("danger" if alert(updated_at, element)) }
        %td= element.booking_number
        %td= element.customer_name
        %td= element.truck_number
        %td= element.transporter_name
        %td= element.vessel_targeted
        %td= element.port_of_discharge
        %td= element.container_number
        %td= element.movement_type
        %td= element.shipping_seal
        %td= element.w_o_number
        %td.updateStatus{class: "text-center"} 
          .updateStatus.h5
            .status_updated_at  
              = updated_at.to_date.to_formatted_s
            .status.text-capitalize
              = element.status.humanize
              %br
          -if @show_update                        
            %button.btn.btn-small.btn-primary{'data-movement-id' => "#{element.id}", 'data-target' => '#statusModal', 'data-toggle' => 'modal', 'data-states' => element.status + ',' + element.aasm.events.join(','), 'data-truck-number' => element.truck_number, 'data-container-number' => element.container_number} Update
        %th.remarks.h5
          = element.remarks  
#statusModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:movement, url: '', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Update Status and Location
        
        .modal-body
          #truck_number
            = f.label :truck_number
          #container_number
            = f.label :container_number
          = f.input :status, collection: [], :input_html => {:class => 'select required form-control text-capitalize'}
          = f.input :remarks, as: :text

        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary'        
    
:coffeescript
  $('#statusModal').on 'show.bs.modal', (event) ->
    link_tag = $(event.relatedTarget)  
    id = link_tag.attr('data-movement-id')
   
    $("#movements_table tr#"+ id + " td.updateStatus .updateStatus").hide()
    $('#statusModal #truck_number label').text("Truck Number : " + link_tag.attr('data-truck-number'))
    $('#statusModal #container_number label').text("Container Number : " + link_tag.attr('data-container-number'))
    
    $('#statusModal form #movement_status').html("")
    for i in link_tag.attr('data-states').split(",")
      $('#statusModal form #movement_status').append("<option value=" + i + ">" + i.replace(/_/g, ' ') + "</option>")

    $('#statusModal form').attr('action', "/movements/" + id + "/updateStatus")

  $('#statusModal').on 'hide.bs.modal', (event) ->
    $("#movements_table tr td.updateStatus .updateStatus").show()
