%table.table{id: "movements_index_table", class: 'movements_table'}
  %thead
    %th Booking Number
    %th BL Number
    %th Customer Name
    %th Truck Number
    %th Transporter Name
    %th Transporter Payment
    %th Clearing Agent
    %th Clearing Agent Payment
    %th Vessel Targeted
    %th Port of Discharge
    %th Container Number
    %th Movement Type
    %th Shipping Seal
    %th W O Number
    %th#btnAddNewRow Status
    %th Remarks
  %tbody
    - @movements.each do |element|
      - updated_at = status_updated_at(element).localtime
      %tr{id: element.id, class: ("danger" if @show_update && alert(updated_at, element)) }
        %td.booking_number= element.booking_number
        %td= element.bl_number
        %td= element.customer_name
        %td.truck_number= element.truck_number
        %td= element.transporter_name
        %td= element.transporter_payment
        %td= element.clearing_agent
        %td= element.clearing_agent_payment
        %td.vessel_targeted= element.vessel_targeted
        %td= element.port_of_discharge
        %td= element.container_number
        %td= element.movement_type
        %td= element.shipping_seal
        %td= element.w_o_number
        %td.updateStatus{class: "text-center"}
          .updateStatus.h5
            .status_updated_at
              = updated_at.to_date.to_formatted_s
            .status.text-capitalize
              = element.status.humanize
              %br
          -if @show_update
            %button.btn.btn-small.btn-primary{'data-movement-id' => "#{element.id}", 'data-target' => '#statusModal', 'data-toggle' => 'modal', 'data-states' => element.status + ',' + element.aasm.events.join(','), 'data-truck-number' => element.truck_number, 'data-container-number' => element.container_number,'data-vessel-targeted' => element.vessel_targeted ,'data-booking-number'=> element.booking_number} Update
        %th.remarks.h5
          = element.remarks
#statusModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:movement, url: '', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Update Status and Location

        .modal-body
          #truck_number
            = f.label :truck_number
          #container_number
            = f.label :container_number
          #booking_number
            =f.input :booking_number, as: :text
          #vessel_targeted
            =f.input :vessel_targeted, as: :text
          = f.input :status, collection: [], :input_html => {:class => 'select required form-control text-capitalize'}
          = f.input :remarks, as: :text, required: false

        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

:coffeescript
  @transporters = #{@transporters.to_json}
  @destination_ports = #{@destination_ports.to_json}

  $('#statusModal').on 'show.bs.modal', (event) ->
    link_tag = $(event.relatedTarget)
    id = link_tag.attr('data-movement-id')

    $("#movements_index_table tr#"+ id + " td.updateStatus .updateStatus").hide()
    $('#statusModal #truck_number label').text("Truck Number : " + $("#movements_index_table tr#"+ id + " td.truck_number").text())
    $('#statusModal #container_number label').text("Container Number : " + link_tag.attr('data-container-number'))
    booking_number = $("#movements_index_table tr#"+ id + " td.booking_number").text()
    vessel_targeted = $("#movements_index_table tr#"+ id + " td.vessel_targeted").text()
    $('#statusModal #movement_booking_number').val booking_number
    $('#statusModal #movement_vessel_targeted').val vessel_targeted
    $('#statusModal form #movement_status').html("")
    for i in link_tag.attr('data-states').split(",")
      $('#statusModal form #movement_status').append("<option value=" + i + ">" + i.replace(/_/g, ' ') + "</option>")

    $('#statusModal form').attr('action', "/movements/" + id + "/updateStatus")

  $('#statusModal').on 'hide.bs.modal', (event) ->
    $("#movements_index_table tr td.updateStatus .updateStatus").show()
