%table.table{id: 'movements_table'}
  %thead
    %th Booking Number
    %th Truck Number
    %th Vessel Targeted
    %th Port of Discharge
    %th Container Number
    %th Movement Type
    %th Shipping Seal
  %tbody
    - @movements.each do |element|
      %tr{id: element.id}
        %td= element.booking_number
        %td= element.truck_number
        %td= element.vessel_targeted
        %td= element.port_of_discharge
        %td= element.container_number
        %td= element.movement_type
        %td= element.shipping_seal
