- if request.get?
  $("[data-is='modelName']").val(window.location.pathname.replace('s/new', '').replace(/\//, ''))
  $("[data-is='basicModal']").modal('show')
- else
  $('.flash_messages').html('#{escape_javascript(render :partial => 'flash_message')}');
  $('#basicModal').modal('hide');
  $("#exports_table tr##{@id} td.moved").text("#{@moved_count}")
  $("#exports_table tr##{@id} td.placed").text("#{@count}")
  oTable = $("#exportItem_#{@id}").dataTable()
  oTable.fnDeleteRow("tr##{@export_item.id}")