$('#statusModal').modal('hide')
url = window.location.pathname.substring(1)
- if @movement.status == "document_handed" && '#{url}' == "movements"
	$("#movements_table tr##{@movement.id}").remove()
- else	
	$("#movements_table tr##{@movement.id} td.updateStatus button").attr('data-states', "#{@movement.aasm.events.join(',')}")
	$("#movements_table tr##{@movement.id} td.updateStatus .updateStatus").text("#{@movement.status.humanize}")