.well
  %table.table#purchase_order_items
    %thead
      %tr
        %th Truck Number
        %th Part Number 
        %th Part Make
        %th Quantity
        %th Price 
        %th Total Cost
        %th
    %tbody
      = f.simple_fields_for :purchase_order_items, @purchase_order.purchase_order_items , wrapper: false do |part|
        %tr.fields
          %td.truck_number_id= part.input :truck_id, collection: Truck.pluck(:reg_number, :id), label: false, include_blank: true, wrapper: :vertical_form, input_html: { class: 'select2-class'}
          %td.spare_part_id= part.input :spare_part_id, collection: SparePart.pluck(:product_name, :id), label: false, include_blank: true, wrapper: :vertical_form, input_html: { class: 'select2-class' }
          %td.part_make= part.input :part_make, label: false
          %td.quantity= part.input :quantity, label: false, wrapper: :vertical_form, label: false, input_html: {class: 'purchase_order_quantity'}
          %td.price= part.input :price, label: false, wrapper: :vertical_form, label: false, input_html: {class: 'purchase_order_price'}
          %td.total_price= part.input :total_price, label: false, readonly: true, wrapper: :vertical_form, input_html: {class: 'total_cost'}
          %td
            = part.link_to_remove method: :delete, class: 'delete pull-left' do
              %span.glyphicon.glyphicon-remove
  = f.link_to_add 'Add', :purchase_order_items, id: 'add_purchase_order_items', class: 'btn btn-primary', "data-target" => '#purchase_order_items'

:javascript
  $('#purchase_order_items .select2-class').select2()
  $('.truck_number_id').width(230)
  $('.spare_part_id').width(230)
  $('.part_make').width(230)
  $('.total_cost').width(100)



