= link_to "Add New Purchase Order", new_purchase_order_path, class: 'btn btn-primary pull-right'
%br
%br
%table.table#purchase_order_table
  %thead
    %th Invoice Number
    %th Number
    %th Date
    %th Supplier Name
    %th Total Cost 
    %th Action
  %tbody
    - @purchase_orders.each do |purchase_order|
      %tr{id: purchase_order.id }
        %td= purchase_order.inv_number
        %td= purchase_order.number
        %td= purchase_order.date
        %td= purchase_order.supplier_id ? purchase_order.supplier.name : ''
        %td= purchase_order.total_cost
        %td= link_to "Edit", edit_purchase_order_path(purchase_order), class: 'btn btn-primary'
