%h3 Report

#error_msg

= simple_form_for :report, url: report_purchase_orders_path, remote: true, html: { class: 'form-horizontal', :id => 'po_report', method: :post } do |f|
  .well
    .row
      .col-md-4
        = f.input :report_type, collection: [['LPO', 'LPO'], ['REQ', 'REQ']], input_html: { class: 'form-control', id: 'report_type' }, label: 'Type'
      .col-md-4
        = f.input :report_field, collection: [], input_html: { class: 'form-control', id: 'report_field' }, label: 'Search Field'
      .col-md-4
        = f.input :report_value, collection: [], input_html: { class: 'form-control select2', id: 'report_value' }, label: 'Selection'
    .row
      .col-md-4
        = f.input :start_date, as: :string, input_html: { id: 'start_date', class: 'form-control' }
      .col-md-4
        = f.input :end_date, as: :string, input_html: { id: 'end_date', class: 'form-control' }

    = f.submit 'Search', class: 'btn btn-primary'

#results

:javascript
  var suppliers = #{@suppliers.to_json}
  var trucks = #{@trucks.to_json}
  var spare_parts = #{@spare_parts.to_json}
  $('#start_date').datepicker({ format: 'dd-mm-yyyy' })
  $('#end_date').datepicker({ format: 'dd-mm-yyyy' })

  $('.select2').select2();

          
        
      



        
