$('#invoiceUpdateModal .alert').remove();
- if @error.present?
  -@error.each do |msg|
    $('#invoiceUpdateModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");
- else
  $('#invoiceUpdateModal').modal('hide')

  $('#invoices_index_table #invoices_search_result').append("<tr invoice_id=#{@invoice.id} class='warning'> <td class='customer'>#{@invoice.customer_name}</td> <td class='number'>#{@invoice.number}</td> <td class='date'>#{@invoice.date}</td> <td class='bl_num'>#{@invoice.bl_number}</td> <td class='document_num'>#{@invoice.document_number}</td>  <td class='amount'>#{@invoice.amount}</td> <td class='status'>#{@invoice.status}</td> <td> <a class='btn btn-small btn-primary' id='update_button' href='/invoices/#{@invoice.id}/edit' data-remote='true'> Update </a> <a class='btn btn-small btn-primary' href='/invoices/#{@invoice.id}/send_invoice' data-remote='true' data-disable-with= 'sending...' > Send </a> <a class='btn btn-small btn-primary' href='/invoices/#{@invoice.id}/download.pdf'>Download</a> <a class='btn btn-small btn-primary' href='/invoices/#{@invoice.previous_invoice.id}/download.pdf'> Refs Inv: #{@invoice.previous_invoice.number} </a> </td> <tr>");