$('#AdditionalInvoiceModal .alert').remove();
- if @error.present?
  -@error.each do |msg|
    $('#AdditionalInvoiceModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");
- else
  $('#AdditionalInvoiceModal').modal('hide')

  $('#invoices_index_table #invoices_search_result').append("<tr invoice_id=#{@invoice.id} class='warning'> <td class='customer'>#{@invoice.customer_name}</td> <td class='number'>#{@invoice.number}</td> <td class='date'>#{@invoice.date}</td> <td class='bl_num'>#{@invoice.bl_number}</td> <td class='document_num'>#{@invoice.document_number}</td>  <td class='amount'>#{@invoice.amount}</td> <td class='status'>#{@invoice.status}</td> <td> <button class='btn btn-small btn-primary' data-target='#invoiceUpdateModal' data-toggle='modal' data-invoice-id= #{@invoice.id}> Update </button> <a class='btn btn-small btn-primary' href='/invoices/#{@invoice.id}/send_invoice' data-remote='true' data-disable-with= 'sending...' > Send </a> <a class='btn btn-small btn-primary' href='/invoices/#{@invoice.id}/download.pdf'>Download</a> <button class='btn btn-small btn-primary' data-target='#AdditionalInvoiceModal' data-toggle='modal', data-invoice-id= #{@invoice.id}> Additional Invoice </button> </td> <tr>");