%div#invoice_pdf
  //%center
  //  %img{src: "file://#{Rails.root}/public/images/i.jpg", width: 300 , height: 100}
  %br
  %table#invoicetable.invoice{style: "border-collapse: collapse"}
    %thead
      %th{colspan: "4", style: "text-align:center"} INVOICE
    %tbody
      %tr
        %td{colspan: "2"}
          #{@invoice.customer_name}
          %p
          Container Number: #{@container}
          %br/ 
          BL Number: #{@invoice.bl_number} 
          %br/
          #{@equipment} X #{@quantity}
          %br/
          Job Number: #{@job_number}
        %td{colspan: "2", valign: "top"}
          Inv Number: #{@invoice.number}
          - if @invoice.is_additional_invoice?
            %br/
            Inv Ref: #{@ref_no}
          %br/
          Inv Date: #{@invoice.date}
          %br/
          BL Number: #{@invoice.bl_number} 
          - unless @charges.blank?
            %br/
            Pick Up Location: #{@pick_up}
            %br/
            Destination: #{@destination}
      %tr
        %td{colspan: "4", height: '20px'}
      %tr
        %th{style: "text-align:center"}  Particulars
        %th Qty
        %th Rate
        %th Total
      - unless @perticular.blank?
        %tr{style: "height:20px"}
          %td= @perticular
          %td
          %td
          %td= @add_charges
      - unless @charges.blank?
        - @charges.each do |key, value|
          - value.each do |v|
            %tr{style: "height:20px"}
              %td= key
              %td= v.second
              %td= v.first
              %td= (v.second.to_i * v.first.to_i)
      - (1..4).each do |row|
        %tr{style: "height:20px"}
          %td
          %td
          %td
          %td

      %tr{height: "40px"}
        %td{colspan: "3", style: "text-align:center"} Subtotal
        %td= @invoice.amount
      %tr
        %td{colspan: "3", style: "text-align:center"}= @invoice.amount.in_words.humanize + " US Dollars Only"
        %td= @invoice.amount
      %tr
        %td{colspan: "4"}
          TotalE. & O.E.
          %br/
          PAN NO: AAACZ6633M
          %br/
          SERVICE TAX NO: AAACZ6633MSD002
          %br/
          %br/
          %b Terms & Conditions:
          %ol
            %li
              Payment should be made by A/C Payee cheque or draft in favour of “21 Nautica Logistics Limited” or by NEFT / RTGS into:
              %br/
              Account Name: 21 Nautica Logistics Limited
              %br/
              Account Number: 8500000057
              %br/
              Bank: Imperial Bank ( Uganda ) Limited
              %br/
              Branch: Kampala , Uganda
              %br/
              Swift Code: IMPLUGKA
            %li   
              Our liability will never exceed the liability of the carrier, railways, transporter who have a part in the entire act of carriage of cargo
            %li
              Any errors or omissions must be brought to our notice within 3 days of receipt of this bill, failing which the contents of this invoice shall be deemed to have been accepted by the customer.
      %tr
        %td{colspan: "2"} Company Address
        %td{colspan: "2"}
          %b Stamp & signature
