= link_to "Add New Truck", new_truck_path, class: 'btn btn-primary pull-right'
%br
%br
%table.table#trucks_table
  %thead
    %th Truck Number
    %th Trailer Reg Number
    %th Driver Name
    %th Location
    %th Status
    %th Client
    %th Work order No
    %th LLD
    %th Action
  %tbody
    - @trucks.each do |truck|
      %tr
        %td= truck.reg_number
        %td= truck.trailer_reg_number
        %td= truck.driver_name
        %td= truck.location
        - current_import_item = truck.current_import_item
        %td= current_import_item.nil? ? 'Un Allocated' : current_import_item.status.titleize
        - if current_import_item.nil?
          %td
          %td
          %td
        - else
          - customer = current_import_item.import.customer
          %td= customer.name
          %td= current_import_item.work_order_number
          %td= current_import_item.last_loading_date.try(:strftime, '%Y-%m-%d')
        %td= link_to "Edit", edit_truck_path(truck), class: 'btn btn-primary'
