#offloadingModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_nested_form_for(@local_import, url: update_offloadings_local_import_path(@local_import), id: 'update-dates' ,html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h3.modal-title Update Order Dates
        .modal-body
          = f.fields_for :local_import_items, html: {class: 'number'} do |item|
            = item.input :container_number, label: 'Container', disabled: true
            = item.input :truck
            .row
              .col-md-3
                %b Offloading Date
              .col-md-6
                = item.input :offloading_date, html5: true, as: 'date', label: false, input_html: { class: 'form-control date', style: "width:auto"}
            %hr

        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

:coffeescript
  $('#offloadingModal').on 'submit', (event) ->
    $('#offloadingModal').modal('hide')
    location.reload();