.row
  .col-md-4
    %h4
      %b &emsp;Local Order History
  .col-md-4.pull-right{style: "margin-top: 5px;margin-right: 2%"}
    .destination_filter.pull-right
      = form_tag local_history_path, method: :get do |f|
        %b= 'FPD :'.upcase
        &emsp;
        = select_tag 'destination', options_for_select( [:All, :Nairobi, :Mombasa], params[:destination] || 'All' )

%hr{style:"margin:10px;"}
%table.table{id: 'local_imports_table'}
  %thead
    %th Ref No.
    %th Customer
    %th BL No.
    %th Qty x Eq
    %th S/Line
    %th Shipper
    %th FPD
    %th Dates
    %th Remark
    %th View

  %tbody
    - @local_imports.each do |import|
      %tr{id: import.id }
        %td= import.reference_number
        %td= import.customer.name
        %td= import.bl_number
        %td #{import.equipment_type} x #{import.quantity}
        %td= import.shipping_line.name
        %td= import.shipper
        %td= import.fpd.present? ? import.fpd[0] : '-'
        - dates = {}
        - dates["CCD"] = import.copy_documents_date if import.copy_documents_date.present?
        - dates["OBL"] = import.original_documents_date if import.original_documents_date.present?
        - dates["CED"] = import.customs_entry_date if import.customs_entry_date.present?
        - dates["DPD"] = import.duty_payment_date if import.duty_payment_date.present?
        - dates["ICD"] = import.icd_arrival_date if import.icd_arrival_date.present?
        %td
          - if dates.keys.present?
            - dates.each do |k,v|
              %div
                = k + " : "
                %b #{v.to_s}
          - else
            %span -
        %td= import.remarks.last.present? ? import.remarks.last.desc : '-'
        %td
          = link_to 'Dates', view_modal_local_import_path(import), class: 'btn btn-info btn-sm', remote: true
          = link_to 'Offloading', view_offloading_modal_local_import_path(import), class: 'btn btn-info btn-sm', remote: true

#viewModalHistory
#viewOffloadingModalHistory

%br
%hr
:coffeescript
  @customers = #{@customers.to_json}
