.row
  .col-md-4
    %h4
      %b &emsp;Local Order History
  .col-md-4.pull-right{style: "margin-top: 5px;margin-right: 2%"}
    .destination_filter.pull-right
      = form_tag local_history_path, method: :get do |f|
        %b= 'FPD :'.upcase
        &emsp;
        = select_tag 'destination', options_for_select( [:All, :Nairobi, :Mombasa], params[:destination] || 'All' )

%hr{style:"margin:10px;"}
%table.table{id: 'local_imports_table'}
  %thead
    %th.idf-date IDF Date
    %th IDF No.
    %th Ref No.
    -# %th Ref Date
    %th Customer
    %th BL No.
    %th Inv No.
    %th Shipper
    %th Description
    %th Qty x Eq
    %th Vessel
    %th S/Line
    %th GWT
    %th Comesa
    %th View

  %tbody
    - @local_imports.each do |import|
      %tr{id: import.id }
        %td= import.idf_date
        %td= import.idf_number
        %td= import.reference_number
        -# %td= import.reference_date
        %td= import.customer.name
        %td= import.bl_number
        %td= import.invoice_number
        %td= import.shipper
        %td= import.description
        %td #{import.equipment_type} x #{import.quantity}
        %td= import.vessel_name
        %td= import.shipping_line.name
        %td= import.gwt
        %td= import.comesa ? 'Yes' : '-'
        %td
          = link_to 'Dates', view_modal_local_import_path(import), class: 'btn btn-info btn-sm', remote: true
          = link_to 'Offloading', view_offloading_modal_local_import_path(import), class: 'btn btn-info btn-sm', remote: true

#viewModalHistory
#viewOffloadingModalHistory

%br
%hr
:coffeescript
  @customers = #{@customers.to_json}
