.row
  %div{style:"margin-left:2%"}
    %h4
      %b Operations
%hr{style:"margin:10px;"}
%table.table{id: 'local_imports_table'}
  %thead
    %th.idf-date IDF Date
    %th IDF Number
    %th Ref Number
    -# %th Ref Date
    - if is_rfs_host?
      %th.shrink-name Customer Name / Shipper Name / Consignee Name
    - else
      %th.shrink-name Customer Name
    %th BL No.
    %th Inv Number
    %th Shipper
    %th Description
    %th Quantity
    %th Vessel
    %th ETA
    %th S/Line
    %th GWT
    %th Ex Code
    %th KEBS Code
    %th.local-import-remarks Remarks
    %th Update

  %tbody
    - @local_imports.each do |import|
      %tr{id: import.id }
        %td= import.idf_date
        %td= import.idf_number
        %td= import.reference_number
        -# %td= import.reference_date
        %td
          - if is_rfs_host?
            = "#{import.customer.name}" + " / " + "#{import.shipper}"
          - else
            = "#{import.customer.name}"
        %td= import.bl_number
        %td= import.invoice_number
        %td= import.shipper
        %td= import.description
        %td= import.quantity
        %td= import.vessel_name
        %td= import.estimated_arrival
        %td= import.shipping_line.name
        %td= import.gwt
        %td
          - if import.exemption_code_needed? 
            Yes
          - else
            No
        %td
          - if import.kebs_exemption_code_needed? 
            Yes 
          - else
            No
        %td.remarks.h5
          .desc
            = import.remarks.try(:last).try(:desc)
          %button.btn.btn-sm.btn-primary{'data-model-id' => "#{import.id}", 'data-model-type' => 'local_import', 'data-target' => '#remarkModal', 'data-toggle' => 'modal'}Add
        %td{style: "display:grid"}
          = link_to 'Dates', update_dates_form_local_import_path(import), class: 'btn btn-default btn-sm', remote: true
          = link_to 'Offloading', load_offloading_form_local_import_path(import), class: 'btn btn-default btn-sm', remote: true

= render 'remarks/remark'
#updateDatesModal
#offloadings

%br
%hr

:coffeescript
  @customers = #{@customers.to_json}
