$('#CustomModal .alert').remove();
- if @errors.present?
  -@errors.each do |msg|
    $('#CustomModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");

- else
  $('#CustomModal').modal('hide')
  $("#customs_table tr##{@import.id} .remarks .desc").text("#{@import.remarks.try(:last).try(:desc)}")
  -if @import.custom_entry_generated?
    $("#customs_table tr##{@import.id}").remove()
  $.post("customs/#{@import.id}/retainStatus")