%table.table.table-hover.table-bordered#payment_paid_details_table
  %h4.col-sm-4= @header.name
  %div.col-sm-3
    = select_tag(:filter_by_days_select, options_for_select(get_date_range(controller_name)), 
        class: "form-control")
  %div.col-sm-1
    %a.glyphicon.glyphicon-download-alt{href: "#{paid_path(@header.id)}"} Download
  %div.col-sm-1
  %div.col-sm-3
    = link_to 'Readjust Payments', readjust_path(@header.id)
  %tr.info
    %th Date
    %th Type
    %th Reference / Invoice No.
    %th Currency
    %th Amount
    %th Adjusted 
    %th Action

  %tbody#payment_search_result
    %script#payment_search_result_template{:type => "text/html"}
      %tr
        %td <%= date %>
        %td.voucher_type <%= voucher_type %>
        %td <%= bill_number %>
        %td <%= currency  %>
        %td.amount <%= amount %>
        %td.paid <%= paid %>
        <td> <a href= delete/<%=  delete_bill_or_ledger %> data-confirm="Please Readjusted Payments again" data-method="delete" > Delete <a></td>

:javascript
  payments = #{@payments}
  if (payments != 0) {
    PaidFilterInit();
  }
  
