%br
%table.table-borderless{id: 'imports_table'}
  %tbody
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Order Type:
        .col-md-4= @import.order_type
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Customer name:
        .col-md-4= @import.customer.name
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} BL- Number:
        .col-md-4= @import.bl_number
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} From:
        .col-md-4= @import.from
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} To:
        .col-md-4= @import.to
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Shipper:
        .col-md-4= @import.shipper
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} Consignee Name:
        .col-md-4= @import.consignee_name
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Shipping Line:
        .col-md-4= @import.shipping_line.name
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} Estimate Arrival:
        .col-md-4= @import.estimate_arrival
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Work Order Number:
        .col-md-4= @import.work_order_number
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} Description:
        .col-md-4= @import.description
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Item Quantity:
        .col-md-4= @import.item_quantity
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} Item Weight:
        .col-md-4= @import.weight.to_f.round(2)
    %tr{style:"margin-left:2%;"}
      %td.col-md-5
        .col-md-4{style: "font-weight: bold"} Rate Agreed:
        .col-md-4= @import.rate_agreed
      %td.col-md-6
        .col-md-4{style: "font-weight: bold"} Remaining Quantity:
        .col-md-4= @import.remaining_quantity.to_i


%hr
  .row
    %div{class:"quality-div", style:"margin-left:3%;margin-bottom:2%;font-weight:bold"}
    .col-sm-10{style: "font-weight: bold"}
      Item Details :
    .col-sm-2
      %button.btn.btn-small.btn-primary{'data-import-id' => "#{@import.id}", 'data-target' => '#addItemModal', 'data-toggle' => 'modal'} Add Item

    %br
    %br
    .row{style:"margin-left:2%;"}
      .col-md-12
        %div.scrollable-menu
          - @import_items.each do |import_item|
            .row
              %br
              .col-md-3
                .col-md-4{style: "font-weight: bold"} Quantity:
                .col-md-4= import_item.item_quantity
              .col-md-3
                .col-md-4{style: "font-weight: bold"} Status:
                .col-md-4= import_item.status
              .col-md-4
                .col-md-4{style: "font-weight: bold"} Truck No.:
                - if import_item.truck.present?
                  .col-md-4= import_item.truck.reg_number
                - else
                  .col-md-4= ""
              - if REMOVE_ALLOWED_STATUSES.include?(import_item.status)
                .col-md-2
                  = link_to 'Remove', lose_cargo_import_path(import_item), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure?"}

= render partial: 'lose_cargo_imports/add_item'
