.col-md-12
= simple_nested_form_for(@job_card, html: { id: 'add_new_job_card', class: 'form-horizontal'},defaults: {input_html: {class: 'form-control'}}) do |f|
  .well
    .row
      .col-md-3
        = f.input :number , label: 'Number',input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Job card Number is required."}
      .col-md-6
        = f.input :truck_id, label: 'Truck Number', as: :select, collection: @trucks, include_blank: true, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Truck Number is required.", class:'truck_number'}        
      .col-md-3
        = f.input :date, disabled:true, as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker"}, value: Date.today.strftime('%d-%m-%Y')}
    = f.simple_fields_for :job_card_details do |j|
      .row
        .col-md-5
          = j.input :repair_head_id, label:'Repair head', collection: @repair_heads,include_blank: false, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Repair_head is required.", class:'repair_head'}
        .col-md-5
          = j.input :description, lable: "Description", input_html: { rows:3, cols: 40 }
        .col-md-2
          = j.link_to_remove 'Remove', class: 'btn btn-danger'
    = f.link_to_add 'Add More Repair Heads', :job_card_details, class: 'btn btn-success'
    %br
    %br
    .center
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', job_cards_path, class: 'btn btn-primary'

:javascript
  $('.truck_number').select2({width: '100%'})
  $(function() {
    var fieldsCount,
      minFieldsCount = 1
    function toggleRemoveLink() {
      $removeLink = $('a.remove_nested_fields');      
      $removeLink.toggle(fieldsCount > minFieldsCount)
    }

    $(document).on('nested:fieldAdded', function() {
      fieldsCount += 1;
      $('select.repair_head').select2({ width : '100%' });
      toggleRemoveLink();
    });

    $(document).on('nested:fieldRemoved', function() {
      fieldsCount -= 1;
      toggleRemoveLink();
    });  

  // count existing nested fields after page was loaded
    fieldsCount = $('form .fields').length;
    //$('.repair_head').select2({width : '100%'})
    $('.repair_head').select2({ width : '100%' });
    toggleRemoveLink();
  })
