- if @debit_notes 
  - if @debit_notes.count != 0
    %h3 Debit Note 
    %table.table.table-stripped
      %thead
        %th Vendor 
        %th Debit Note No
        %th Date 
        %th Bl/Container 
        %th Number 
        %th Amount

      %tbody
        - @debit_notes.each do |debit_note|
          %tr
            %td= debit_note.vendor.name
            %td= debit_note.bill.bill_number
            %td= debit_note.bill.bill_date
            %td= debit_note.debit_note_for
            %td= debit_note.number
            %td= number_with_precision(debit_note.amount, precision: 2)

