- unless @bill.errors[:base].blank?
  .alert.alert-danger= @bill.errors[:base].join(',')

= simple_nested_form_for @bill, html: {class: 'form-horizontal', id: 'vendor_invoice'}, defaults: {input_html: {class: 'form-control'}}, wrapper: :horizontal_form do |f|
  .row
    .col-md-4
      = f.input :id, as: :hidden
      = f.input :vendor_id, as: :select, label: 'Vendor Name', collection: get_vendor_with_type, include_blank: 'Select Vendor', input_html: { "data-validation" => "required", "data-validation-error-msg"=> "Please Select", class: 'bill_vendor_name_id'}, disabled: !@bill.new_record? 
  .row
    .col-md-4
      = f.input :bill_number, as: :string, label: 'Invoice Number', input_html: {"data-validation" => "required", "data-validation-error-msg"=> "Please Select Invoice Number" }
    .col-md-4
      = f.input :bill_date, as: :string, label: 'Invoice Date', input_html: {id: 'date_restrict', class: 'form-control', value: f.object.bill_date.try(:strftime, "%d-%m-%Y")}
    .col-md-4
      = f.input :currency, collection: CURRENCY, label: 'Currency', include_blank: false
      = f.hidden_field :created_by_id, value: current_user.id
      = f.hidden_field :approved_by_id, value: current_user.id
  .row
    = render partial: 'bill_items', locals: { f:f, bill: @bill }

  .row
    .col-md-6
      = f.input :remark 
    .col-md-2
    .col-md-4
      = f.input :value, label: 'Invoice Total Value', input_html: {class: 'required form-control inv_value checkTotal' }, readonly: !@bill.new_record?
  .row
    %h3 Debit Note
    = render partial: 'debit_notes', locals: { f:f, bill: @bill }
  .row
    .col-md-6
    .col-md-6
      = f.submit 'Save', class: 'btn btn-primary', id: 'billsave'
      = link_to 'Cancel', bills_path, class: 'btn btn-primary'

:coffeescript
   $('body').on 'focusout','.item_number', ->
    current_row_item_number = $(this).closest('tr').find('.item_number')
    current_row = $(this).closest('tr')
    vendor_id = $('#bill_vendor_id').val()
    item_type = $(this).closest('tr').find('.item_type').val()
    item_for = $(this).closest('tr').find('.item_for').val()
    item_number = $(this).closest('tr').find('.item_number').val()
    role = "#{@current_user.role}"
    $.get('/bills/validate_item_number', {vendor_id: vendor_id, item_type: item_type, item_for: item_for, item_number: item_number
                                         }).done (data) ->
      if current_row_item_number.parent('div').children('span').length > 0
        current_row_item_number.parent('div').removeClass('has-error')
        current_row_item_number.parent('div').find('span').remove()
      if data.result is null
        if current_row_item_number.parent('div').children('span').length > 0
        else
          current_row_item_number.parent('div').addClass('has-error')
          current_row_item_number.parent('div').append("<span class='help-block form-error'> Bl or Container not found </span>")
      else if data.freez == "This bl is frozen" && role !='Admin'
        if current_row_item_number.parent('div').children('span').length > 0
        else
          current_row_item_number.parent('div').addClass('has-error')
          current_row_item_number.parent('div').append("<span class='help-block form-error'> this bl is frozen</span>")
      else
        current_row_item_number.parent('div').removeClass('has-error')
        current_row_item_number.parent('div').find('span').remove()
        type = current_row.find('.item_type').val()
        current_row.find('.activity_id').val(data.result)
        current_row.find('.activity_type').val(type)