= link_to "Add New Vendor Invoice", new_bill_path, class: 'btn btn-primary pull-right'
%br
%br
.row.streaming_div
  .col-md-1
    %h4 streaming...
  .col-md-2
    %h4
    = image_tag("streaming.gif", class: "progress")
.row
  .col-md-5
    .col-md-5
      %input#bill-search.form-control{:placeholder => "Search here...", :type => "text"}

    .col-sm-3
      %select.st_per_page.form-control
        %option{:value => "10"}
          10  
        %option{:value => "20"}
          20  
        %option{:value => "30"}
          30  
        %option{:value => "50"}
          50  
    .col-md-4  
      %h5#records_found

%table.table#bills_table
  %thead
    %th Bill Number
    %th Bill Date
    %th Vendor 
    %th Value
    %th.remark Remarks
    %th Created By
    %th Approved By
    %th Action
  %tbody

%script#bills_template.table.table-striped{:type => 'text/html'}
  {{record}}
  %tr{"data-link" => "{{record.id}}" }
    %td {{record.bill_number}}
    %td {{record.bill_date}}
    %td {{record.bill_vendor}}
    %td {{record.value}}
    %td.remark {{record.bill_remarks}}
    %td {{record.bill_created_by}}
    %td {{record.bill_approved_by}}
    %td= link_to "Edit", '{{record.edit_bills_path}}', data: {id: '{{record.id}}' }, class: 'btn btn-primary'

:javascript
  var count = #{@count.to_json}
  var data = #{@bills.to_json}
  streams_bills()
