- @vendor.each_key do |key|
  - CHARGES["#{key}"].each do |charge|
    //if (!$(".vendor_charges option[value= + "#{charge}" + ]").length)
    //{
    $('tr:last .vendor_charges').append($('<option>', { value: "#{charge}", text: "#{charge}" }, '</option>'))
    //}
    //$('tr:last-child #vendor_charges').append($('<option>', { value: "#{charge}", text: "#{charge}" }, '</option>'))

