= simple_form_for :bill,  url: bills_search_path, wrapper: 'horizontal_form' do |f|
  .well
    .row
      .col-md-3
        %label Item Type(Import/Export)
      .col-md-5
        = label_tag 'import', 'Import'
        = radio_button_tag 'item_type', 'Import', true 
        = label_tag 'import', 'Export'
        = radio_button_tag 'item_type', 'Export', params[:item_type].eql?('Export')

    .row
      .col-md-3
        %label Item For(Bl/Container)
      .col-md-5
        = label_tag 'import', 'Container'
        = radio_button_tag 'item_for', 'container', true
        = label_tag 'bl', 'Bl'
        = radio_button_tag 'item_for', 'bl', params[:item_for].eql?('bl') 

    .row
      .col-md-3
        %label Number
      .col-md-2
        = text_field_tag 'number', params[:number], class: 'form-control'
      .col-md-4
        = submit_tag 'Search', class: 'btn btn-primary'
    .row
      - if @bill_items.any?
        .col-md-4
          %h5 
            %b
              Total Vendor Invoice value: 
              = number_with_precision(@sum_of_bl - @debit_notes_sum, precision: 2)
        .col-md-4
          %h5 
            %b
              Containers in related BL:
              = @quantity
              - if @equipment_type
                x
                = @equipment_type
        .col-md-4
          - if @sum_of_customer_invoice
            %h5 
              %b
                Total Customer Invoice value: 
                = number_with_precision(@sum_of_customer_invoice, precision: 2)


%table.table.table-stripped
  %thead
    %th Vendor Name 
    %th Invoice number 
    %th Date
    %th Charge for
    %th Quantity
    %th Rate 
    %th Amount 

  %tbody
    - if @bill_items.count != 0
      - @bill_items.each do |bill_item|
        %tr
          %td= bill_item.vendor.name
          %td= bill_item.bill.bill_number
          %td= bill_item.bill.bill_date
          %td= bill_item.charge_for
          %td= bill_item.quantity
          %td= number_with_precision(bill_item.rate, precision: 2)
          %td= number_with_precision(bill_item.line_amount, precision: 2)
    - else
      %h2 No Item found

// Invoice details for bl related containers 
= render 'invoice_details_for_bl' 

// Debit Notes Details
= render 'debit_notes_invoice_details'

// Customer Invoice
= render 'customer_invoice_details'
