.row
  %hr
  = simple_nested_form_for @import , html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'form-control'}} do |f|
    .row{style:"margin-left:2%;"}
      .col-md-8
        .form-group.custom-radio
          .col-md-3
            %label.control-label BL- Received Type
          .col-md-6
            %label.radio-inline
              = f.radio_button :bl_received_type, "copy", :checked => (@import.new_record?)
              = label :bl_received_type, 'Copy', inline: true
            %label.radio-inline
              = f.radio_button :bl_received_type, "original_telex"
              = label :bl_received_type, 'Original/Telex'
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :bl_number, label: 'BL- Number', input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
      .col-md-6
        %div{data: {for: 'customerSelect'}}
          = render '/shared/customer', customers: @customers, model: 'import'
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :from, collection: PORTS.keys, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
      .col-md-6
        = f.input :to, collection: [], input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :shipper
      .col-md-6
        = f.input :consignee_name
    .row{style:"margin-left:2%;"}
      .col-md-5
        %div{data: {for: 'customerSelect'}}
          = render '/shared/shipping_line', shippers: get_shipping_line_vendors, model: 'import'
      .col-md-6
        = f.input :estimate_arrival, as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker"}}
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :equipment, collection: EQUIPMENT_TYPE, as: :select, label: 'Equipment', include_blank: false
      .col-md-6
        = f.input :description, label: 'Description', label: "#{@import.description}"
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :rate_agreed, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
      .col-md-6
        = f.input :weight, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
    .row{style:"margin-left:2%;"}
      .col-md-5
        = f.input :work_order_number, label: "File Ref No.", input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "This field is mandatory."}
    %hr
    %div{class:"quality-div", style:"margin-left:3%;margin-bottom:2%;font-weight:bold"}
      Container Details :

    .row{style:"margin-left:2%;"}
      .col-md-8
        %div.scrollable-menu
          = f.fields_for :import_items, html: {class: 'number'} do |item_form|
            .col-md-8
              = item_form.input :container_number, label: "Container", input_html: {class: 'form-control'}
            .col-md-2
              = item_form.link_to_remove 'Remove', class: 'btn btn-danger btn-sm'
          = f.link_to_add "Add Container", :import_items, class: 'btn btn-primary btn-sm'
    %hr
    .row{style:"margin-left:2%;"}
      .form-group
        .col-sm-offset-4.col-sm-2
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

:coffeescript

  window.ports = #{PORTS.to_json}

  $('#new_import').on 'submit', (event) ->
    i = 0
    container_hash = {}
    if ($('.fields').size() == parseInt($('#import_quantity')[0].value))
      while i < $('.fields').size()
        container_hash[$('.fields input')[i].value] = i
        if( $('.fields input')[i].value == "" )
          alert('Please fill in all container numbers')
          event.preventDefault()
          return
        i++
    if Object.keys(container_hash).length < $('.fields').size()
      alert('Duplicate container numbers!!')
      event.preventDefault()
    return

:javascript
  $(document).ready(function(){
    $("[data-for='multiselect']").select2();
  })
