.destination_filter.pull-right
  = form_tag imports_path, method: :get do |f|  
    = label_tag 'List Destination '
    = select_tag 'destination', options_for_select( ["Kampala", "Kigali", "Lusaka", "Goma"], params[:destination] || 'Kampala' )

%table.table{id: 'imports_table'}
  %thead
    - if is_rfs_host?
      %th.shrink-name Customer Name / Shipper Name / Consignee Name
    - else
      %th.shrink-name Customer Name
    %th.bl-width BL Number
    %th.shipping-line-imports Shipping Line
    %th Eq
    %th Weight
    %th Ref
    %th ETA
    %th Qty
    %th.width9 Shipping Status
    %th Custom Status
    %th.imports-remarks Remarks
  %tbody
    - @imports.each do |import|
      %tr{id: import.id }
        - if is_rfs_host?
          %td= "#{import.customer.name}" + " / " + "#{import.shipper}" +" / "+ "#{import.consignee_name}"
        - else
          %td= "#{import.customer.name}"
        %td= import.bl_number
        %td= import.shipping_line.try(:name)
        %td= import.equipment
        %td= (import.weight.to_f/import.quantity).round(2)
        %td= import.work_order_number
        %td= import.estimate_arrival
        %td= import.quantity
        %td= shipping_date_divs(import).html_safe
        %td= custom_date_divs(import).html_safe
        %td.remarks.h5
          .desc
            = import.remarks.try(:last).try(:desc)
          %button.btn.btn-small.btn-primary{'data-model-id' => "#{import.id}", 'data-model-type' => 'import', 'data-target' => '#remarkModal', 'data-toggle' => 'modal'} Add

#statusModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:import, url: '', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Update Status
        .modal-body
          #bl_number
            = f.label :bl_number
          = f.input :status, collection: [], :input_html => {:class => 'select required form-control text-capitalize'}
          = f.input :remarks, as: :text, required: false
          = f.hidden_field :category, :value => "external"

        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

= render 'remarks/remark'

:coffeescript
  @customers = #{@customers.to_json}
  @equipment = #{@equipment.to_json}
  @clearing_agent = #{@clearing_agent.to_json}

  $('#statusModal').on 'show.bs.modal', (event) ->
    $('#statusModal .alert').remove()
    link_tag = $(event.relatedTarget)
    id = link_tag.attr('data-import-id')

    $("#imports_table tr#"+ id + " td.updateStatus .updateStatus").hide()
    $('#statusModal #bl_number label').text("BL Number : " + link_tag.attr('data-bl-number'))
    $('#statusModal form #import_status').html("")
    for i in link_tag.attr('data-states').split(",")
      $('#statusModal form #import_status').append("<option value=" + i + ">" + i.replace(/_/g, ' ') + "</option>")

    $('#statusModal form').attr('action', "/imports/" + id + "/updateStatus")

  $('#statusModal').on 'hide.bs.modal', (event) ->
    $("#imports_table tr td.updateStatus .updateStatus").show()

    