$('#statusModal .alert').remove();
- if @errors.present?
  -@errors.each do |msg|
    $('#statusModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");

- else
  $('#statusModal').modal('hide')
  - if @import.status == "ready_to_load"
    $("#imports_table tr##{@import.id}").remove()
  - else
    $("#imports_table tr##{@import.id} td.updateStatus button").attr('data-states', "#{@import.status},#{@import.aasm.events.join(',')}")
    $("#imports_table tr##{@import.id} td.updateStatus .updateStatus .status").text("#{@import.status.humanize}")
    $("#imports_table tr##{@import.id} td.updateStatus .updateStatus .status_updated_at").text("#{@import.updated_at.to_date.to_formatted_s}")
    $("#imports_table tr##{@import.id} .remarks .desc").text("#{@import.remarks.try(:last).try(:desc)}")