.container
  %button.btn.btn-primary.pull-right{'data-target' => '#reportModal','data-toggle' => 'modal'} REPORT
  %br
  %br

#reportModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:customer, url: '/customers/daily_report', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Daily Reports

        .modal-body
          = label_tag 'Customer name'
          = select_tag 'name', options_for_select(Customer.all.collect{|customer| [customer.name]}), style: "width:300px"

        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Daily Report', id: 'submit', class: 'btn btn-primary', onClick: 'disabled =true, value = "sending...." '

:coffeescript
$(document).ready ->
  $("#name").select2()
  return

