= link_to "Add New Customer", new_customer_path, class: 'btn btn-primary pull-right'
%br
%br

%table.table#customers_table
  %thead
    %th.name Name 
    %th.srn Sales Representative Name
    %th.emails Default Emails
    %th.emails Account Emails
    %th.emails Management Emails
    %th.emails Operation Emails
    %th.srn Action
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.name 
        %td= customer.sales_rep_name
        %td= customer.emails.try(:gsub, ",",", ")
        %td= customer.account_emails.try(:gsub, ",",", ")
        %td= customer.management_emails.try(:gsub, ",",", ")
        %td= customer.operation_emails.try(:gsub, ",",", ")
        %td= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-primary'