.col-md-12
= simple_form_for(@petty_cash, html: { id: 'add_new_petty_cash', class: 'form-horizontal petty_cash'},defaults: {input_html: {class: 'form-control petty_cash'}}) do |f|
  .well
    .row
      .col-md-6
        = f.input :expense_head_id, label: 'Expense Head', collection: @expense_heads, include_blank: true, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Expense Head is required."}
      .col-md-6
        =f.input :date, label:'Date',as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker", :'date-autoclose'=> 'true'}, value: @date.strftime('%d/%m/%Y')}
    .row
      .col-md-6
        = f.input :truck_id, label: 'Truck Number', collection: @trucks, include_blank: true, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Truck Number is required."}
      .col-md-6
        =f.collection_radio_buttons :transaction_type, [['Expense', 'Withdrawal'] ,['Invert', 'Deposit']],:last, :first, checked: 'Withdrawal'
    .row  
      .col-md-6
        = f.input :transaction_amount,label: 'Amount',input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Amount is required."}
      .col-md-6
        = f.input :description, label: 'Remark'
    .row
      .col-md-6
        = f.submit 'save', class: 'btn btn-primary'
        = link_to 'Back', petty_cashes_path, class: 'btn btn-primary'

       
:javascript
  $('#petty_cash_expense_head_id').select2()
  $('#petty_cash_truck_id').select2()
  $('#petty_cash_date').datepicker({
    format: 'dd/mm/yyyy',
    endDate: new Date()
  })
  $(document).ready(function(){
    $('#petty_cash_expense_head_id').change(function(){
      if (this.selectedOptions[0].getAttribute('data-is_related_to_truck' )=== 'true') {
        $('#petty_cash_truck_id').attr('disabled',false);
        $('#petty_cash_truck_id').select2()
      } else {
        var petty_cash_truck_id = $("#petty_cash_truck_id")
        petty_cash_truck_id.select2('destroy')
        petty_cash_truck_id.closest('div').removeClass('')
        petty_cash_truck_id.attr("disabled",true)
        petty_cash_truck_id.val('')
        petty_cash_truck_id.removeAttr("style");
        if (petty_cash_truck_id.closest('div').hasClass('has-success')) {
          petty_cash_truck_id.closest('div').removeClass('has-success')
        } else {
          petty_cash_truck_id.closest('div').removeClass('has-error')
          petty_cash_truck_id.siblings(".form-error").remove()
        }
      }
      })
  })
  

