%h3.pull-left="#{request.original_url.split(/[\/,?]/).include?('petty_cashes') ? 'Petty Cash' : 'Mpesa'}"
= link_to "Add Voucher", "#{request.original_url.split(/[\/,?]/).include?('petty_cashes') ? new_petty_cash_path : new_mpesaes_path }", class: 'btn btn-primary pull-right'
.pull-left.date-filter
  = form_for(:date_filter, class: 'form-inline', url: "#{request.original_url.split(/[\/,?]/).include?('petty_cashes') ? petty_cashes_path : mpesaes_path }", method: :get) do |f|
    %div.form-group.date-filter
      = f.label :Date_filter 
      = f.text_field :date, input_html: { class: "daterange" }, as: :string, value: date_filter_parameters
      = f.submit 'Search', class: 'btn btn-success', id: 'search_button'
%br
%br
%table.table{id: 'petty_cash_table', class: 'petty_cash_table'}
  %thead
    %th.hidden id
    %th Date 
    %th Expense head
    %th Truck Number
    %th Transaction amount
    %th Available balance
    %th Remark
    %th created by
    
  %tbody
    - @petty_cashes.each do |petty_cash|
      %tr
        %td{class: 'hidden'}= petty_cash.id
        %td= petty_cash.date.to_date.strftime('%d-%m-%Y')
        %td= petty_cash.expense_head.name
        %td= petty_cash.truck.reg_number if petty_cash.truck_id
        %td{ class: "#{petty_cash.transaction_type.eql?('Withdrawal') ? 'red' : 'green'}" }
          = number_with_precision("#{petty_cash.transaction_type.eql?('Withdrawal') ? -petty_cash.transaction_amount : petty_cash.transaction_amount }", precision: 2)
        %td{ class: "#{petty_cash.available_balance < 0.0 ? 'red' : 'green'}" }
          = number_with_precision(petty_cash.available_balance, precision: 2)
        %td{class: 'petty_cash_td'}= petty_cash.description
        %td= petty_cash.created_by.name

= will_paginate @petty_cashes

:javascript
  $(document).ready(function(){
    $('#date_filter_date').daterangepicker({
      locale: { format: 'DD/MM/YYYY'},
      cancelLabel: 'Clear',
      startDate: new Date("#{params[:date_filter].present? ? params[:date_filter][:date].split('-')[0].to_date.strftime('%Y/%m/%d') : (Date.today-7.days).strftime('%Y/%m/%d').to_s}"),
      endDate:  new Date("#{params[:date_filter].present? ? params[:date_filter][:date].split('-')[1].to_date.strftime('%Y/%m/%d') : Date.today.strftime('%Y/%m/%d').to_s}")
    })  
    $('#date_filter_date').on('cancel.daterangepicker', function(){
      $(this).val(' ');
    });
  })
