%tr      
  %td{class: 'date_of_payment'}= text_field_tag "received[#{@count}][date_of_payment]",Date.today.strftime('%d/%m/%Y')
  %td{class: 'customer_name'}= select_tag("received[#{@count}][customer_id]",options_from_collection_for_select(Customer.order(:name), 'id', 'name'), prompt: "Select Customer")
  %td= number_field_tag "received[#{@count}][amount]", nil
  %td= select_tag "received[#{@count}][mode_of_payment]",options_for_select(PAYMENT_MODES),prompt: "Payment Mode"
  %td= text_field_tag "received[#{@count}][reference]",nil,:placeholder => "cheque number / cash"
  %td= text_area_tag "received[#{@count}][remarks]",nil, rows:3,cols:35
:javascript
  $("#received_#{@count}_date_of_payment").datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  })
  $("#received_#{@count}_customer_id").select2({width: '100%'})
