%h3 
  Payments Received 
  -# %a.glyphicon.glyphicon-download-alt{href: "#{outstanding_received_index_path}"} Outstanding
.row
  = simple_form_for @received , html: {class: 'form-horizontal'},url: url_for(action: 'create', :controller => 'received'), method: 'post', defaults: {input_html: {class: 'form-control'}} do |f|
    %table.table{id: 'received_table'}
      %thead
        %th.date_of_payment Date
        %th.customer_name Customer Name
        %th Amount
        %th Payment Mode
        %th Refernces Number
        %th Remark
        %tbody
          %div.cloned_class
            = render 'form', :@count => 1
    = f.submit 'Save', class: 'btn btn-primary payments'
    = link_to "Add More", fetch_form_received_index_path(count: @count),id: 'add_more', :remote => true, :class => "btn btn-success"
    = button_tag  'Remove ', class:'btn btn-danger', id:'remove_button'

:javascript
  window.validate_form = function(){
    $.validate({
      form: '#new_received',
      scrollToTopOnError : false
    });
  }
  $(document).ready(function(){
    var count = 1
    toggle_button()
    console.log(count)
    $('#add_more').on('click',function(){
      count += 1;
      toggle_button();
    })
    function toggle_button(){
      if(count == 1)
      {
        console.log("in if",count)
        $("#remove_button").hide()
      }
      else{
        console.log('in else',count)
        $("#remove_button").show()
      }
    }
    $('#remove_button').on('click',function(e){
      e.preventDefault()
      $('#received_table tr:last').remove()
      count -= 1 ;
      toggle_button();
    })
  })
  $('#received_customer_id').select2()
  validate_form();