.col-md-12
  = simple_form_for @vendor, html: {class: 'form-horizontal' }, wrapper: :horizontal_form,  defaults: {input_html: {class: 'form-control'}} do |f|
    .well
      .row
        .col-md-6
          = f.input :name
      .row
        .col-md-6
          = f.input :vendor_type, collection: @vendor_type, selected: selected_vendors(@vendor), input_html: { id: 'vendor_list', multiple: true, class: 'multiselect' }
          = f.input :address_to, as: :text, input_html: { rows: 4 }
      .row
        .col-md-6
          = f.submit 'Save', class: 'btn btn-primary', id: 'vendor_save'
          = link_to 'Cancel', vendors_path, class: 'btn btn-primary'
