- status = []
- status << [@import_item.status.titleize, @import_item.status]
- if @import_item.status == 'under_loading_process'
  - status << ['Allocated Truck', @import_item.aasm.events.join]
- else
  - status << [@import_item.aasm.events.join.titleize, @import_item.aasm.events.join]
= simple_form_for @import_item, url: updateStatus_import_item_path(@import_item), method: :post, html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}} do |f|
  .modal-content
    .modal-header
      = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
      %h1.modal-title Update Status
      .modal-body
        #truck_number
        = f.label :truck_number
        = f.input :status, collection: status, :input_html => {:class => 'select required form-control text-capitalize'}
        = f.input :remarks, as: :text, required: false
        - readonly = ['loaded_out_of_port', 'arrived_at_border', 'departed_from_border', 'arrived_at_destination'].include?(@import_item.status)
        - if is_rfs_host?
          = f.input :truck_id, collection: reallocate_truck_numbers, include_blank: true, label: 'Truck Number'

      .modal-footer
        = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
        = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

:coffeescript
  $('#import_item_truck_id').select2()
  import_item = #{@import_item.to_json}
  $('#statusModal').on 'show.bs.modal', (event) ->
    statuses = ['loaded_out_of_port', 'arrived_at_border', 'departed_from_border', 'arrived_at_destination']
    if statuses.includes?(import_item.status)
      #$('#import_item_truck_id').select2('readonly', 'readonly')
    else
      #$('#import_item_truck_id').select2('readonly', false)
    $('#import_item_remarks').val('')

   $('#import_item_status').on 'change', ->
    # if $(this).val() == 'truck_released'
    #   $('#import_item_truck_id').select2('readonly', false)

