%table.table{id: 'import_empty_containers_table'}
  %thead
    %th BL Number
    %th Container Number
    %th Customer Name
    - if is_rfs_host? || is_ug_host?
      %th Reference Number
      %th ETA
    %th G/F Expiry
    %th
    %th
    %th
  %tbody
    - @import_items.each do |item|
      - updated_at = status_updated_at(item).strftime("%Y-%m-%d")
      - if item.g_f_expiry.nil?
        - g_f_expiry = item.g_f_expiry
      - else
        - g_f_expiry = item.g_f_expiry.strftime("%Y-%m-%d")
      %tr{id: item.id}
        %td= item.import.bl_number
        %td= item.container_number
        %td= item.customer_name
        - if is_rfs_host? || is_ug_host?
          %td= item.work_order_number
          - eta = item.import.estimate_arrival
          %td= eta.nil? ? "" : eta.strftime('%Y-%m-%d')

        %td= g_f_expiry
        %td.emptyReturn{class: "text-center"}
          %button.btn.btn-small.btn-primary{"data-target" => "#context", "data-toggle"=>"modal", "data-after-delivery"=>"empty_return", "data-item-id"=> "#{item.id}"}  Empty Return
        %td.exportReuse{class: "text-center"}
          %button.btn.btn-small.btn-primary{"data-target" => "#context", "data-toggle"=>"modal", "data-after-delivery"=>"export_reuse", "data-item-id"=> "#{item.id}"} Export Reuse
        %td.dropOff{class: "text-center"}
          %button.btn.btn-small.btn-primary{"data-target" => "#context", "data-toggle"=>"modal", "data-after-delivery"=>"drop_off", "data-item-id"=> "#{item.id}"} Drop Off


#context.modal{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:import_item, url: '', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}
          #title_modal
            %h1.modal-title  
        .modal-body
          #common
            = f.input :context, required: false
          #some_field.hide
            = f.input :transporter_name, required: false
        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

        
:coffeescript
  $('#context').on 'show.bs.modal', (event) ->
    link_tag = $(event.relatedTarget)
    after_delivery = link_tag.attr('data-after-delivery').toString()
    id = link_tag.attr('data-item-id')
    title = after_delivery.replace('_',' ').toUpperCase()
    $('#title_modal .modal-title').html(title)
    if (after_delivery == "export_reuse")
      $('#some_field').addClass("hide")
      $('#context .control-label').html('Customer Name')
    else if(after_delivery == "drop_off")
      $('#some_field').addClass("hide")
      $('#context .control-label').html('Yard Name')
    else
      $('#some_field').removeClass("hide")
      $('#some_field .control-label').text("Transporter name")
      $('#common  .control-label').html('Truck Number')
  
    $('#context form').attr('action', "/import_items/" + id + "/updateContext?after_delivery=" + after_delivery)


