%table.table{id: 'import_empty_containers_table'}
  %thead
    %th.ec-name Customer Name / Consignee Name
    %th.ec-bl-number BL Number
    %th.ec-container-number Container Number
    %th G/F Expiry
    - if is_rfs_host? || is_ug_host?
      %th.ec-file-ref File Ref. #
      %th ETA
    %th Current Status
    %th Return Location
    %th 
  %tbody
    - @import_items.each do |item|
      - if item.g_f_expiry.nil?
        - g_f_expiry = item.g_f_expiry
      - else
        - g_f_expiry = item.g_f_expiry.strftime("%Y-%m-%d")
      %tr{id: item.id}
        %td= "#{item.customer_name}"+ " / "+ "#{item.import.consignee_name}"
        %td= item.import.bl_number
        %td= item.container_number
        %td= g_f_expiry
        - if is_rfs_host? || is_ug_host?
          %td= item.work_order_number
          - eta = item.import.estimate_arrival
          %td= eta.nil? ? "" : eta.strftime('%Y-%m-%d')
        %td= item.show_status
        %td= item.import.return_location.to_s
        %td.Status{class: "text-center"}
          .h5
            .status_updated_at
              -if item.interchange_number
                .interchange_number= "IC #: #{item.interchange_number}"
          %button.btn.btn-small.btn-primary{"data-target" => "#container_info", "data-toggle"=>"modal", "data-item-id"=> "#{item.id}", "data-status" => "#{item.status}"} Update


#container_info.modal{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:import_item, url: '', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}
          #title_modal
            %h1.modal-title Update
        .modal-body
          = f.input :interchange_number, required: true
        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."

        
:coffeescript
  $('#container_info').on 'shown.bs.modal', (event) ->
    link_tag = $(event.relatedTarget)
    status = link_tag.attr('data-status')
    $("#container_info form .alert").remove()
    if status != "delivered"
      $("#container_info .modal-body").append("<div class= 'alert alert-danger'> You can not assign Interchange Number as truck is not delivered yet.</div>")
      $("#container_info form :input").prop("disabled", true);
    else
      $("#container_info form :input").prop("disabled", false);
    $("#import_item_interchange_number").val("")
    id = link_tag.attr('data-item-id')
    $("#container_info form").attr("action", "/import_items/"+id+"/update_empty_container")

  todayDate = () ->
    today = new Date()
    dd = today.getDate()
    mm = today.getMonth() + 1
    yyyy = today.getFullYear()
    return yyyy+"/"+mm+"/"+dd
