%table.table{id: 'import_history_table'}
  %thead
    %th BL Number
    %th Container Number
    %th Customer Name
    %th Equipment
    %th Delivery Date
    %th After Delivery Status
    %th Context
    %th Close Date
  %tbody
    - @import_items.each do |item|
      - updated_at = status_updated_at(item).strftime("%Y-%m-%d")
      - if item.close_date.nil?
        - close_date = item.close_date
      -else
        -  close_date = item.close_date.strftime("%Y-%m-%d")
      %tr{id: item.id}
        %td= item.import.bl_number
        %td= item.container_number
        %td= item.customer_name
        %td= item.import.equipment
        %td= updated_at
        %td= item.after_delivery_status
        %td= item.context
        %td= close_date