.destination_filter_import_item.pull-right
  = form_tag import_items_path, method: :get do |f|  
    = label_tag 'List Destination '
    = select_tag 'destination_item', options_for_select( ["Kampala", "Kigali", "Lusaka", "Goma"], params[:destination_item] || 'Kampala')

#statusModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog

%table.table{id: 'import_items_table'}
  %thead
    - if is_rfs_host?
      %th Customer Name / Shipper Name
    - else
      %th Customer Name
    %th BL Number
    %th Container Number
    %th Display EQ
    %th Estimate Arrival
    - if is_rfs_host?
      %th Truck Number
      %th Location
    %th Work Order Number
    %th Last Loading Date
    %th Status
    %th Remarks
  %tbody
    - @import_items.each do |item|
      %tr{id: item.id}
        - if is_rfs_host?
          %td= "#{item.customer_name}" + " / " + "#{item.import.shipper}"
        - else
          %td= item.customer_name
        %td= item.import.bl_number
        %td= item.container_number
        %td= item.import.equipment
        %td= item.import.estimate_arrival
        - if is_rfs_host?
          %td.truck_id= item.truck.nil? ? '' : item.truck.reg_number
          %td= item.truck.nil? ? '' : item.truck.location
        %td= item.import.work_order_number
        %td.last_loading_date= item.last_loading_date.nil? ? '' : item.last_loading_date.strftime('%Y-%m-%d')
        %td.updatestatus{class: "text-center"}
          .updatestatus.h5
            .status_updated_at
              = status_updated_at(item).to_date
            .status.text.capatilize
              = item.status.titleize
          - truck_number = item.truck ? "#{item.truck.reg_number}, #{item.truck_id}" : ''
          //%button.btn.btn-small.btn-primary{'data-importitem-id' => "#{item.id}", 'data-target' => '#statusModal', 'data-toggle' => 'modal', 'data-states' => item.status + ',' + item.aasm.events.join(','), 'data-truck-number' => truck_number,'truck-number-alloted'=> :false} Update
          = link_to 'Update', edit_import_item_path(item), remote: true, :data => { states: item.status + ',' + item.aasm.events.join(',') },
            class: 'btn btn-small btn-primary'
        %td.remarks.h5
          .desc
            = item.remarks.try(:last).try(:desc)
          %button.btn.btn-small.btn-primary{'data-model-id' => "#{item.id}", 'data-model-type' => 'import_item', 'data-target' => '#remarkModal', 'data-toggle' => 'modal'} Add

= render 'remarks/remark'

:css
  .truck_id {
    width: 110px;
  }

:coffeescript
  @transporters = #{@transporters.to_json}
  import_items = #{@import_item.to_json}

  $('#statusModal1').on 'show.bs.modal', (event) ->
    $('#import_item_truck_id').select2('val', '')
    $('#import_item_truck_id').find('option').remove().end()

    link_tag = $(event.relatedTarget)
    id = link_tag.attr('data-importitem-id')

    truck = import_items.filter((t) -> t.id == parseInt(id))[0]
    if truck && truck.truck_id
      $('#import_item_truck_id').append("<option value=" + truck.truck_id + ">" + truck['truck_number'] + "</option>")
      $('#import_item_truck_id').val(truck.truck_id).trigger('change')

    #$.get('/trucks/load_truck_numbers', {truck_id: truck.id}).done (data) ->
    #  $.each data, (index, value) ->
    #    $('#import_item_truck_id').append $('<option>', value: value[1], text: value[0])

    $("#import_items_table tr#"+ id + " td.updatestatus .updatestatus").hide()
    $('#statusModal form #import_item_status').html("")
    for i in link_tag.attr('data-states').split(",")
      $('#statusModal form #import_item_status').append("<option value=" + i + ">" + i.replace(/_/g, ' ') + "</option>")

    $('#statusModal form').attr('action', "/import_items/" + id + "/updateStatus")

  $('#statusModal1').on 'hide.bs.modal', (event) ->
    $("#import_items_table tr td.updatestatus .updatestatus").show()
