.col-md-12
= simple_form_for(@transport_manager_cash, html: { id: 'add_new_transport_cash', class: 'form-horizontal transport_manager_cash'},defaults: {input_html: {class: 'form-control'}}) do |f|
  .well
    .row
      .col-md-6
        
        = f.input :truck_id, label: 'Truck', as: :select, collection: @trucks, include_blank: true, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Truck Number is required.", class:'truck_number'}
      .col-md-6
        = f.input :date, as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker", :'date-autoclose'=> 'true'}, value: @date.strftime('%d/%m/%Y')}
    .row
      .col-md-6
        = f.input :transaction_amount, label: 'Amount', input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Amount Number is required."}
        = f.hidden_field :transaction_type,value:'Withdrawal'
    %br
    %br
    .center
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', transport_manager_cashes_path, class: 'btn btn-primary'

:javascript
  $('.truck_number').select2({width: '100%'})
  $('#transport_manager_cash_date').datepicker({
    format: 'dd/mm/yyyy',
    startDate: $('#transport_manager_cash_date').val()
  })