.col-md-12
= simple_form_for(@transport_manager_cash, html: { id: 'add_new_transport_cash', class: 'form-horizontal transport_manager_cash'},defaults: {input_html: {class: 'form-control'}}) do |f|
  .well
    -if params[:action].eql?('new')
      -# .row
      -#   .col-md-6
      -#     =f.input :sr_number, label: 'Trip Number', disabled: true, input_html: { value: @sr_number+1 }  
      %center
        %b="Trip Number #{@sr_number+1}"
    %br
    .row
      .col-md-6
        = f.input :date, as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker", :'date-autoclose'=> 'true'}, value: @date.strftime('%d/%m/%Y')}
      .col-md-6
        = f.input :truck_id, label: 'Truck Number', as: :select, collection: @trucks, include_blank: true, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Truck Number is required.", class:'truck_number'}
    .row
      .col-md-6
        = f.input :transaction_amount, label: 'Amount', input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Amount Number is required."}
        = f.hidden_field :transaction_type,value:'Withdrawal'
    .row
      .col-md-6
        = f.label 'Back Date Entry'
        = f.check_box :truck_loaded_out_of_port
      .col-md-6{id: 'file_number'}
        = f.input :file_ref_number, label: 'File Number',input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "File Number is required."}
    %br
    %br
    .center
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', transport_manager_cashes_path, class: 'btn btn-primary'

:javascript
  $('.truck_number').select2({width: '100%'})
  $('#transport_manager_cash_date').datepicker({
    format:'dd/mm/yyyy',
    endDate: new Date(),
    startDate: $('#transport_manager_cash_date').val()
  })
  $(document).ready(function(){
    if($('#transport_manager_cash_truck_loaded_out_of_port').prop('checked') == true)
    {
       $('#file_number').show()
      $('#transport_manager_cash_file_ref_number').attr('disabled', false)
    }
    else
    {
       $('#file_number').hide()
      $('#transport_manager_cash_file_ref_number').attr('disabled', true)
    }
    $('#transport_manager_cash_truck_loaded_out_of_port').click(function(){
      if($(this).prop('checked') == true)
      {
       $('#file_number').show()
       $('#transport_manager_cash_file_ref_number').attr('disabled', false)
      }
      else{
        $('#file_number').hide()
        $('#transport_manager_cash_file_ref_number').attr('disabled', true)
      }
    })
  })