= link_to "Add new Transport cash", new_transport_manager_cash_path, class: 'btn btn-primary pull-right'
%br
%table.table{id: 'transport_cash_table'}
  %thead 
    %th #
    %th Created Date
    %th Transaction Date
    %th Truck Number
    %th File Number
    %th Destination
    %th Amount
    %th Balance
    %th Created By
    %th Actions
    
  %tbody
    -@transport_manager_cashes.each do |transport_manager_cash|
      %tr
        %td= transport_manager_cash.sr_number
        %td= transport_manager_cash.created_at.to_date.strftime('%d-%m-%Y')
        %td= transport_manager_cash.transaction_date.to_date.strftime('%d-%m-%Y') if transport_manager_cash.transaction_date
        %td= transport_manager_cash.truck.reg_number if transport_manager_cash.truck_id
        %td= transport_manager_cash.import.work_order_number if transport_manager_cash.import_id
        %td= transport_manager_cash.import.to if transport_manager_cash.import_id
        %td{class: "#{transport_manager_cash.transaction_type.eql?('Deposite')? 'green': 'red' }"}= "#{transport_manager_cash.transaction_type.eql?('Deposite')? transport_manager_cash.transaction_amount : - transport_manager_cash.transaction_amount }"
        %td{class: "#{transport_manager_cash.transaction_type.eql?('Deposite')? 'green': 'red' }"}=transport_manager_cash.available_balance
        %td= transport_manager_cash.created_by.name if transport_manager_cash.created_by_id
        %td= link_to 'Edit',edit_transport_manager_cash_path(transport_manager_cash), class: 'btn btn-primary' if !transport_manager_cash.transaction_date