= simple_nested_form_for @req_sheet, html: {class: 'form-horizontal', id: 'vendor_invoice'}, defaults: {input_html: {class: 'form-control'}}, wrapper: :horizontal_form do |f|
  .row
    .col-md-4
      = f.input :ref_number
  .row
    .col-md-4
      = f.input :date, as: :string, label: 'Date', input_html: { id: 'req_date', class: 'form-control', value: f.object.date.try(:strftime, "%d-%m-%Y")}
  .row
    = render partial: 'req_parts', locals: { f:f, req_sheet: @req_sheet }

  = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."
  = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
:coffeescript
  $('#req_date').datepicker
    format: 'dd-mm-yyyy'
