= simple_nested_form_for @req_sheet, html: {class: 'form-horizontal', id: 'vendor_invoice'}, defaults: {input_html: {class: 'form-control'}}, wrapper: :horizontal_form do |f|
  .row
    .col-md-4
      = f.input :ref_number
  .row
    .col-md-4
      = f.input :date, as: :string, label: 'Date', input_html: { id: 'req_date', class: 'form-control', value: f.object.date.try(:strftime, "%d-%m-%Y")}
    .col-md-4
      = f.input :truck_id, collection: Truck.pluck(:reg_number, :id), label: 'Number', input_html: {} 
    .col-md-4
      - if @req_sheet.persisted? && @req_sheet.truck && @req_sheet.truck.is_truck?
        = f.input :km
      - else
        = f.input :km
  .row
    = render partial: 'req_parts', locals: { f:f, req_sheet: @req_sheet }
  .row
    .col-md-6
    .col-md-3
    .col-md-3
      = f.input :value, label: 'Total Value'

  = f.submit 'Save', class: 'btn btn-primary', "data-disable-with" => "saving..."
  = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
:coffeescript
  $('#req_date').datepicker
    format: 'dd-mm-yyyy'
