= link_to "Add New Req Sheet", new_req_sheet_path, class: 'btn btn-primary pull-right'
%br
%br
%table.table#req_sheet_table
  %thead
    %th Ref Number 
    %th Date
    %th Truck Number
    %th Total Cost 
    %th Action
  %tbody
    - @req_sheets.each do |req_sheet|
      %tr
        %td= req_sheet.ref_number
        %td= req_sheet.date
        %td= req_sheet.truck_id ? req_sheet.truck.reg_number : ''
        %td= req_sheet.value
        %td= link_to "Edit", edit_req_sheet_path(req_sheet), class: 'btn btn-primary'
