
.modal-content
  .modal-header
    = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
  .modal-body.fw600#modal_body
    %div#content_div
      = form_tag merge_content_spare_parts_path, method: :post do |f|  
        %h1 Select Parent
        -@spare_parts.each do |spare_part|
          = radio_button_tag "parent_spare","#{spare_part.id}"
          = label_tag "#{spare_part.product_name}"
          %br
        = hidden_field_tag 'spare_parts',@spare_parts.pluck(:id)
        = submit_tag  "save", class:'btn btn-primary',id:'content_btn'
        
    %div.hidden#form_div
      .col-md-12
        = simple_form_for @spare_part, :url => merge_content_spare_parts_path, html: {id: 'new_spare_part', class: 'form-horizontal'}, defaults: {input_html: {class: 'form-control'}} do |f|
          .well
            .row
              .col-md-12
                = f.input :product_name, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => " Product Name is required."}
            .row
              .col-md-12
                = f.input :description, as: :text
            .row
              .col-md-12
                = f.input :spare_part_category_id, collection: SparePartCategory.main.pluck(:name, :id), include_blank: true,input_html: {:"data-validation" => "required", :"data-validation-error-msg" => " Category is required."}
            .row
              .col-md-12
                = f.input :spare_part_sub_category_id, collection: spare_part_sub_categories, selected: @spare_part.spare_part_sub_category_id
            .row
              .col-md-6
                = hidden_field_tag "spare_parts[]", @spare_parts.pluck(:id)
              .col-md-6
                = f.submit 'Save', class: 'btn btn-primary', id: 'vendor_save'
    .modal-footer
      = button_tag 'Merge With Selected One',class:'btn btn-primary',id:'merge_one'
      = button_tag 'Create New Spare', class: 'btn btn-primary',id:'new_form'
      
      = link_to 'Back', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}

:javascript
  $("#merge_one").on("click",function(e){
    $("#merge_one").hide()
    $("#form_div").prop('disabled',true).addClass('hidden')
    $("#content_div").children().prop('disabled',false).removeClass('hidden')
    $("#new_form").show()
  })
  $("#new_form").on("click",function(){
    $("#new_form").hide()
    $("#merge_one").show()
    $("#content_div").children().prop('disabled',true).addClass('hidden')
    $("#form_div").removeClass('hidden').prop('disabled',false)
  })

  window.validate_form = function(){
    $.validate({
      form: '#new_spare_part'
    });
  }
  validate_form();
