.col-md-12
= simple_form_for(@breakdown_management, html: { id: 'add_new_breakdown_management', class: 'form-horizontal breakdown_management'},defaults: {input_html: {class: 'form-control breakdown_management'}}) do |f|
  .well
    .row
      .col-md-6
        = f.input :date, label: 'Date',as: :string, input_html: { class: 'form-control date', data: {behaviour: "datepicker", :'date-autoclose'=> 'true'},:"data-validation" => "required", :"data-validation-error-msg" => "Date is required.", value: f.object.date.present? ? f.object.date.strftime('%d-%m-%Y') : Date.today.strftime('%d-%m-%Y')}
      .col-md-6
        = f.input :truck_id, label:'Truck Number', collection: @trucks, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Truck is required.", id:'truck_id'}
    .row 
      .col-md-6
        = f.input :breakdown_reason_id, label:'Reason', collection: @breakdown_reasons, input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "Reason is required.",id: 'breakdown_reason_id'}
      .col-md-6{class: 'breakdown_lable'}
        = f.input :location, label: ' Breakdown Location', input_html: {:"data-validation" => "required", :"data-validation-error-msg" => "BreakDown Location is required."}
    .row
      .col-md-6
        = f.input :mechanic_id, label:'Allocate Mechanic', collection: @mechanics, input_html: { id:'mechanic_id' }
      .col-md-6{class:'status'}
      -if params[:id] 
        = f.label 'Status :'
        = f.collection_radio_buttons :status, [['Close', 'Close']],:last, :first
    .row
      .col-md-6{class: 'parts_required'}
        = f.label 'Parts required'
        = f.check_box :parts_required
      .col-md-6{id: 'sending_date'}
        = f.input :sending_date, label: 'Parts Sending date',as: :string, hidden: true, input_html: { :"data-validation" => "required", :"data-validation-error-msg" => "sending date is required.", class: 'form-control date', data: {behaviour: "datepicker",:'date-autoclose'=> 'true',:'date-format' => 'dd-mm-yyyy'}, value: "#{ f.object.sending_date.strftime('%d-%m-%Y') if f.object.sending_date.present? }"}
    .row
      .col-md-6
        = f.input :remark, label: 'Remark'
    .row
      .col-md-6
        = f.submit 'save', class: 'btn btn-primary'
        = link_to 'Back', breakdown_managements_path, class: 'btn btn-primary'


:javascript
  $('#truck_id').select2()
  $('#breakdown_reason_id').select2()
  $('#mechanic_id').select2()
  $('#sending_date').hide()
  if ($('#breakdown_management_parts_required').prop('checked') == true){
    $('#sending_date').show()
    $('#breakdown_management_sending_date').datepicker({
     startDate: $('#breakdown_management_date').val()
  })
  }

  $(document).ready(function(){
    $('#breakdown_management_parts_required').click(function(){
      if($(this).prop("checked") == true){
        $('#sending_date').show()
        $('#breakdown_management_sending_date').val($('#breakdown_management_date').val());
      }
      else {
        $('#sending_date').hide()
      }
    });
    $('#breakdown_management_date').change(function(){
      $('#breakdown_management_sending_date').val($('#breakdown_management_date').val())
    });
  });