= link_to "Add New Breakdown Details", new_breakdown_management_path, class: 'btn btn-primary pull-right'

.status_filter.pull-left
  = form_tag breakdown_managements_path, method: :get do |f|  
    = label_tag 'Status '
    = select_tag 'status', options_for_select( ["Open", "Close"], params[:status] || 'Open')


%br
%br
%table.table{ id: 'breakdown_table_id', class: 'breakdown_table' }
  %thead
    %th Date 
    %th Truck Number
    %th Reason
    %th Location
    %th Allocated Mechanic
    %th Status
    %th Parts Required
    %th Sending Date
    %th Remark
    %th Action
  %tbody
    - @breakdown_managements.each do |breakdown_management|
      %tr
        %td= breakdown_management.date.to_date.strftime('%d-%m-%Y')
        %td= breakdown_management.truck.reg_number
        %td= breakdown_management.breakdown_reason.name
        %td= breakdown_management.location
        %td= breakdown_management.mechanic.name
        %td{class: "#{ breakdown_management.status.eql?('Open')? 'green' : 'red'}"}= breakdown_management.status
        %td= breakdown_management.parts_required ? "Yes" : "No"
        %td= breakdown_management.sending_date.to_date.strftime('%d-%m-%Y') if breakdown_management.sending_date.present?
        %td{class: 'breakdown_td'}= breakdown_management.remark
        %td= link_to 'Edit', edit_breakdown_management_path(breakdown_management), class: 'btn btn-primary' if breakdown_management.status.eql?('Open')