
$('#remarkModal .alert').remove();
- if @errors.present?
  -@errors.each do |msg|
    $('#remarkModal .modal-body').append("<div class='alert alert-danger'>#{msg}</div>");

- else
  $('#remarkModal').modal('hide')
  - case @model_instance.class.to_s
  - when "Import"
    -if params[:remark][:table_name] == "shipping"
      $("#shippings_table tr##{@model_instance.id} td.remarks .desc").text("#{@model_instance.remarks.try(:last).try(:desc)}")
    -elsif params[:remark][:table_name] == "custom"
      $("#customs_table tr##{@model_instance.id} td.remarks .desc").text("#{@model_instance.remarks.try(:last).try(:desc)}")
    -else
      $("#imports_table tr##{@model_instance.id} td.remarks .desc").text("#{@model_instance.remarks.try(:last).try(:desc)}")
  - when "ImportItem"
    $("#import_items_table tr##{@model_instance.id} td.remarks .desc").text("#{@model_instance.remarks.try(:last).try(:desc)}")
