.navbar.navbar-inverse.navbar-static-top
  .container
    .collapse.navbar-collapse{id: 'nav-header-collapse'}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#nav-header-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        - if is_rfs_host?
          = link_to 'Reliable Freight', '#', class: 'navbar-brand'
        - else
          = link_to '21 Nautica', '#', class: 'navbar-brand'
      %ul.nav.navbar-nav
        - if user_signed_in? && ['Admin', 'Operations', 'Accounts', 'Transport'].include?(current_user.role)
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Import
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'New Order', new_import_path
              %li= link_to 'Port Operation', imports_path
              %li= link_to 'Shiping Line', shippings_path
              %li= link_to 'Custom',customs_path              
              %li= link_to 'Import Tracking', import_items_path
              %li= link_to 'Import History', import_history_path
              %li= link_to 'Empty Container Import', import_empty_containers_path
              %li= link_to 'Import/Download Location', import_location_trucks_path
        - if user_signed_in? && ['Admin', 'Operations', 'Accounts', 'Transport'].include?(current_user.role)
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Export
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'New Order', new_export_path
              %li= link_to 'Export Placement', exports_path,  "data-no-turbolink" =>true
              %li= link_to 'Export Tracking', movements_path
              %li= link_to 'Export History', export_history_path
        - if user_signed_in? && ['Admin', 'Accounts'].include?(current_user.role)
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Accounts
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Customer Invoices', by_type_invoices_path('ready-new'),  "data-no-turbolink" =>true
              %li= link_to 'Payments Received', new_received_path
              %li.divider{:role => "separator"} 
              %li= link_to 'Vendor Invoices', bills_path
              %li= link_to 'Payments Made', new_paid_path
              %li= link_to 'Customer Ledger', coming_soon_path
              %li= link_to 'Manual Invoice(customer)', manual_invoices_path
              %li= link_to 'Petty Cash Mngt', petty_cashes_path
        - if user_signed_in? && current_user.is?('Admin')
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Admin 
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'List Vendors', vendors_path 
              %li= link_to 'List Customers', customers_path
              %li= link_to 'BL/Container Search', bills_search_path 
              %li= link_to 'Report(Margin)', customer_analysis_path 
              %li= link_to 'List Users', users_path 
              %li= link_to 'Report', report_purchase_orders_path
              %li= link_to 'Spare Part History', coming_soon_path
              %li= link_to 'Freez P&L', coming_soon_path
              %li= link_to 'Truck P&L', coming_soon_path
        - if user_signed_in? && (current_user.is?('Admin') || current_user.is?('Yard'))
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Yard 
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Req Sheet', req_sheets_path 
              %li= link_to 'Purchase Order', purchase_orders_path
              %li= link_to 'Fuel Mngt', coming_soon_path
              %li= link_to 'Breakdown Mng', breakdown_managements_path
              %li= link_to 'Spare Parts ledger', coming_soon_path
              %li= link_to 'Job Card Mngt', job_cards_path
        - if user_signed_in? && current_user.is?('Admin')
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Master
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Supplier Master', suppliers_path 
              %li= link_to 'Mechanic Master', mechanics_path
              %li= link_to 'Truck Master', trucks_path
              %li= link_to 'Spare Master', spare_parts_path
              %li= link_to 'Exp Head Master', expense_heads_path
              %li= link_to 'Repair Head Master', repair_heads_path 
              %li= link_to 'Merge Spare Parts', coming_soon_path
              %li= link_to 'Breakdown Reason Master',breakdown_reasons_path 
        - if user_signed_in? && (current_user.is?('Admin') || current_user.is?('Transport'))
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              Cash Mngt
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Transport Mng Cash Mngt', transport_manager_cashes_path

      -#%div.navbar-form.navbar-left
        %form{role: "search", action: "/bill_of_ladings/search"}
          .form-group
            %input.form-control{placeholder: "BL Number", type: "text", name: "id"}
          %button.btn.btn-success{type: "Submit"} BL Payment
      -#%div.navbar-form.navbar-left
        %form{role: "search", action: "/import_expenses/search"}
          .form-group
            %input.form-control{placeholder: "Container Number", type: "text", name: "id"}
          %button.btn.btn-danger{type: "Submit"} Import Expenses
