%h3 Update #{@bl.bl_number} Payment details (USD)
.row
  = simple_nested_form_for @bl, html: {class: 'form-horizontal'}, defaults: {input_html: {class: 'form-control'}} do |f|
    .col-md-6
      = f.input :payment_ocean
      = f.input :cheque_ocean
      = f.input :shipping_line
      = f.input :payment_clearing
      = f.input :cheque_clearing
      = f.input :remarks
      .form-group
        .col-sm-offset-2.col-sm-2
          = f.submit class: 'btn-primary'

