%h3 Update BL #{@bl.bl_number} details (USD) with Work Order #{@work_order_number} :
.row
  = simple_nested_form_for @bl, html: {class: 'form-horizontal', id: 'bill_of_lading_update_form'}, defaults: {input_html: {class: 'form-control'}} do |f|
    .col-md-6
      = f.input :shipping_line, disabled: true
      = f.input :shipping_line_charges
      = f.input :payment_ocean, label: "Ocean Freight"
      = f.input :cheque_ocean, label: "Cheque Number"
      = f.input :payment_clearing, label: "Port Charges" , disabled: @bl.is_export_bl?
      = f.input :cheque_clearing, label: "Port Storage" , disabled: @bl.is_export_bl?
      = f.input :clearing_agent, disabled: true
      = f.input :agency_fee
      = f.input :remarks
      .form-group
        .col-sm-offset-2.col-sm-2
          = f.submit class: 'btn-primary'
    .col-md-6
      .col-md-9
        .panel.panel-default
          .panel-heading
            %label Customer Name: #{@bl.customer_name}
            %br/
            %label Qty X Equipment:  #{@bl.quantity} X #{@bl.equipment_type}
