%table.table{id: 'exports_table'}
  %thead
    %th
    %th R/O Number
    %th Customer Name
    %th Line
    %th Equipment
    %th Quantity
    %th Placed
  %tbody
    - @exports.each do |export|
      %tr{id: "#{export.id}"}
        %td= image_tag 'plus.png'
        %td.ro_number= export.release_order_number
        %td= export.customer_name
        %td= export.shipping_line
        %td= export.equipment
        %td= export.quantity
        %td= export.placed
.hide
  %table{id: "detailsTable"}
    %thead
      %tr
        %th Date of Placement
        %th Container
        %th Location
        %th Days since placed
        %th
    %body

#basicModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(:movement, url: 'wtf', html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Add new Movement
        
        .modal-body
          = f.input :booking_number
          = f.input :truck_number
          = f.input :vessel_targeted
          = f.input :port_of_discharge, collection: DESTINATION_PORTS
          = f.input :transporter_name,collection: TRANSPORTERS
        
        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary'        



:coffeescript
  @exportItems = #{@export_items.to_json}

  $('#basicModal').on 'show.bs.modal', (event) ->
    if $(event.relatedTarget).attr('data-container') == "null" or
       $(event.relatedTarget).attr('data-container') == ""
      alert("Add container first!")
      return false
    export_item = $(event.relatedTarget).attr('data-row')
    ro_number = $("#exports_table tr" + $(event.relatedTarget).attr('data-export') + " td.ro_number").text()
    $('#basicModal #movement_booking_number').val ro_number
    $('#basicModal form').attr('action', "/movements?export_item_id=" + export_item.slice(1))
