%table.table{id: 'exports_table'}
  %thead
    %th
    %th R/O Number
    %th Line
    %th Equipment
    %th Quantity
    %th Placed
  %tbody
    - @exports.each do |export|
      %tr{id: "#{export.id}"}
        %td= image_tag 'plus.png'
        %td= export.release_order_number
        %td= export.shipping_line
        %td= export.equipment
        %td= export.quantity
        %td= export.placed
.hide
  %table{id: "detailsTable"}
    %thead
      %tr
        %th Container
        %th Date of Placement
        %th Location
        %th= link_to 'Add Container', 'javascript:void(0)', id: "btnAddNewRow", class: 'btn btn-primary'
        
    %body
.hide
  %form{id: 'formAddNewRow', action: '#', title: 'Add new container'}
    = label_tag 'container', 'Container'
    %br
    = text_field_tag 'container', nil, rel: 0 
    %br
    = label_tag 'Date of Placement', 'Date of Placement'
    = text_field_tag 'date_of_placement', nil, rel: 1, data: {behaviour: 'datepicker'}
    %br
    = label_tag 'location', 'location'
    %br
    = text_field_tag 'location', nil, rel: 2
    = hidden_field_tag 'link', nil, rel: 3

#basicModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    = simple_form_for(@movement, html: { class: 'form-horizontal'}, remote: true, defaults: {input_html: {class: 'form-control'}}) do |f|
      .modal-content
        .modal-header
          = link_to '×', 'javascript:void(0)', class: 'close', data: {dismiss: 'modal'}, aria: {labelledby: 'close'}
          %h1.modal-title Add new Movement
        
        .modal-body
          = f.input :booking_number,value: params[:export_item_id]
          = f.input :truck_number
          = f.input :vessel_targeted
          = f.input :point_of_destination,label:'Port of Destination'
          = hidden_field_tag 'export_item_id', nil
          = hidden_field_tag 'export_item_id1',nil
          = hidden_field_tag 'model', nil, data: {is: 'modelName'}
        
        .modal-footer
          = link_to 'Cancel', 'javascript:void(0)', class: 'btn btn-primary', data: {dismiss: 'modal'}
          = f.submit 'Save', class: 'btn btn-primary'        
    
:coffeescript
  @exportItems = #{@export_items.to_json}
  
