!!!
%html
  %head
    %title 21 Nautica
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
    // Responsive, Mobile Compatibility
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .wrapper
      = render 'header'
      .flash_messages.global
        = render 'flash_message'
      .container-fluid
        .row-fluid
          = yield
