!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
    %br
    We would like to thank you for giving us an opportunity to serve you. We would like to confirm that we have opened an IDF basis your Instructions. You may find the details of the IDF below, incase you have any questions please do not hesitate to contact us.
    %br
    %br
    %table{style: "width:auto"}
      %tbody
        %tr
          %td Reference Number
          %td
            &emsp; : &emsp; 
            %b #{ @local_import.reference_number }
        %tr
          %td IDF Number
          %td 
            &emsp; : &emsp; 
            %b #{ @local_import.idf_number }
        %tr
          %td IDF Date
          %td
            &emsp; : &emsp; 
            %b #{ @local_import.idf_date.to_s }
        %tr
          %td Shipper Name
          %td
            &emsp; : &emsp;
            %b #{ @local_import.shipper }
        %tr
          %td Description
          %td
            &emsp; : &emsp;
            %b #{ @local_import.description }
    %br
    We would be sending you regular updates on all your pending IDF's opened by us. Please do let us know once the shipment is ready to be shipped. 
    %br
    %br
    Thanks for your support.
    %br
    Team Reliable 
    %br
    %br
    For Any Queries you may reach 
    %br
    1) Mr.David :‭ +254 722 946 001‬
    %br
    2) M.Amber : ‭+254 792 938 222‬
    %br
    3) Mr.Kaushik  : ‭+254 708 626 923‬
    %br
    %br
    %br
    **********************************************************************
    %br
    %br
    The information in this message is confidential and may be legally privileged. It is intended solely for the addressee.
    %br
    %br
    Access to this message by anyone else is unauthorized. If you are not the intended recipient, any disclosure, copying, or distribution of the message, or any action or omission taken by you in reliance on it, is prohibited and may be unlawful. Please immediately contact the sender if you have received this message in error.
    %br
    %br
    Thank You,
    %br
    Reliable Freight Services Ltd
    %br
    %br
    **********************************************************************
