!!!
%html
  %body
    %p
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %p
      Dear Customer,
    %p
    %br
    We would like to thank you for giving us an opportunity to serve you. We would like to confirm that we are in receipt of your documents. In the event you already have not submitted the original documents to our office, please submit the same 2 days prior to vessel arrival.
    %br
    %br
    %table{style: "width:auto"}
      %tbody
        %tr
          %td Reference Number
          %td
            &emsp; : &emsp; 
            %b #{ @local_import.reference_number }
        %tr
          %td BL Number
          %td 
            &emsp; : &emsp; 
            %b #{ @local_import.bl_number }
        %tr
          %td ETA
          %td
            &emsp; : &emsp; 
            %b #{ @local_import.estimated_arrival }
        %tr
          %td Final Place of Discharge
          %td
            &emsp; : &emsp;
            %b #{ @local_import.fpd }
        %tr
          %td Shipping Line
          %td
            &emsp; : &emsp;
            %b #{ @local_import.shipping_line.name }
        %tr
          %td Equipment x Quantity
          %td
            &emsp; : &emsp;
            %b #{ @local_import.equipment_type } x #{ @local_import.quantity }
        %tr
          %td Description
          %td
            &emsp; : &emsp;
            %b #{ @local_import.description }
        %tr
          %td Shipper Name
          %td
            &emsp; : &emsp;
            %b #{ @local_import.shipper }
    %br
    We would be sending you regular updates on all your pending Shipments being handled by us. Please don't hesitate to contact us in case you have any queries.
    %br
    %br
    Thanks for your support.
    %br
    Team Reliable
    %br
    %br
    For Any Queries you may reach,
    %br
    1) Mr.David :‭ +254 722 946 001‬
    %br
    2) M.Amber : ‭+254 792 938 222‬
    %br
    3) Mr.Kaushik  : ‭+254 708 626 923‬
    %br
